

div.message {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 3px;
	border: 1px solid #e0e0e0;
	margin-bottom: 10px;
	font-weight: bold;
	color: #333;
	
}

.helpIndex {
	border: 0px;
	width: 100%;
	height: 100%;
	padding: 0px 0px 0px 0px;
	overflow: auto;
}
.helpFrame {
	border-left: 0px solid #222;
	border-right: none;
	border-top: none;
	border-bottom: none;
	width: 100%;
	height: 800px;
	padding: 0px 5px 0px 10px;
}
#treecellhelp {
	width: 25%;
	display: block;
	position: relative;
	float: left;
	margin: 0;
	padding: 2px;
	overflow: hidden;
}

#datacellhelp {
	width: 73%;
	display: block;
	float: left;
	margin: 0;
	padding: 2px 0px 0px 0px;
}



