﻿body
{
    
}

.pagerOuterTable
{
    border-collapse: collapse;
    border: 1px solid #E7E7E7;
    background-color: #F0F0F0;
    color: #39437e;
}

.pageCounter
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #ffffff;
    background-color: #d6cde2;
    text-align: center;
    vertical-align: middle;
}

.pageFirstLast
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #4d5c93;
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;    
}

.pagePrevNextNumber
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #4d5c93;
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;    
    width: 20px;
}

.pageCurrentNumber
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #4d5c93;
    font-weight: bold;
    background-color: #d6cde2;
    text-align: center;
    vertical-align: middle;    
    width: 20px;
}

.pageGroups
{
    font-family: Tahoma;
    font-size: 10pt;
}

.pagerLink, .pagerLink#hover, .pagerLink#active, .pagerLink#visited
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #4d5c93;
    text-decoration: none;    
}
