.rtContainer
{
	position: relative;
	font-size: 1px;
}

.rtTextArea
{
	position: absolute;
	left: 1px;
	top: 1px;
	border: 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px; /* This sets the color of the textarea */
	background-color: White;
}

.rtTopEdge, .rtLeftEdge
{
	position: absolute;
	left: 0px; /* This sets the color of the left and top edge    * for the other edges, you will have to modify    * the images */
	background-color: #A5ACB2;
}

.rtTopEdge
{
	height: 1px;
}

.rtLeftEdge
{
	width: 1px;
}

.rtRightEdge
{
	position: absolute;
	width: 4px;
	top: 3px;
	cursor: e-resize;
	background-image: url( '/images/global/vert_repeater.gif' );
	background-repeat: repeat-y;
}

.rtBottomEdge
{
	position: absolute;
	height: 4px;
	left: 3px;
	cursor: s-resize;
	background-image: url( '/images/global/horz_repeater.gif' );
	background-repeat: repeat-x;
}

.rtCorner, .rtLeftCorner, .rtTopCorner, .rtBottomHandle, .rtRightHandle, .rtTopRightImage, .rtBottomLeftImage
{
	position: absolute;
	background-image: url( '/images/global/non_repeaters.gif' );
	background-repeat: no-repeat;
}

.rtCorner
{
	height: 7px;
	width: 7px;
	cursor: se-resize;
	background-position: -23px -7px;
}

.rtLeftCorner
{
	height: 7px;
	width: 7px;
	top: 0px;
	left: -7px;
	background-position: -16px -7px;
}

.rtTopCorner
{
	height: 7px;
	width: 7px;
	top: -7px;
	left: 0px;
	background-position: -23px 0px;
}

.rtRightHandle
{
	width: 8px;
	height: 22px;
	left: 0px;
	background-position: 0px 0px;
}

.rtBottomHandle
{
	width: 22px;
	height: 8px;
	top: 0px;
	background-position: -8px -14px;
}

.rtTopRightImage
{
	width: 4px;
	height: 3px;
	top: -3px;
	left: 0px;
	background-position: -10px -6px;
}

.rtBottomLeftImage
{
	width: 3px;
	height: 4px;
	top: 0px;
	left: -3px;
	background-position: -10px -1px;
}
.collapsePanelHeader
{
	background-image: url(/images/bg-menu-main.png);
	background-repeat: repeat-x;
	color: #000000;
	font-weight: bold;
	height: 30px;
	width: 100%;
}
.collapsePanel
{
	background-color: white;
	overflow: hidden;
	height: auto;
}
.roundedPanel
{
	background-color: #9c9c9c;
	color: black;
}



/*   Author : Dinkar Vaja 12/04/2010   */


input:focus, select:focus, textarea:focus
{
	background-color: #f0ffff;
}

.modalBackground
{
	background-color: #000000;
	opacity: 0.7;
}

body, #TopStrip
{
	min-width: 600px;
}

form
{
	margin: 0;
	padding: 0;
}


html body .Centered
{
	text-align: center;
}

table
{
	border-collapse: collapse;
}

.CommentFooter
{
	color: #999;
}


/*       Border   */
.border1
{
	background-color: #edf2f5;
	border-style: solid;
	border-width: thin;
	border-color: #696969;
	padding: 0 10px 10px 10px;
}

.tdstyle
{
	padding: 5px 5px 5px 5px;
	color: #0060a5;
}


.tdborder
{
	border-bottom-color: #ff7f50;
	border-bottom-width: medium;
	border-bottom-style: solid;
	font-size: large;
	color: #0060a5;
	height: 30px;
}


.mainborder
{
	border-style: solid;
	border-width: 10px;
	border-color: #babdde;
}

.inborder
{
	/*border-bottom-color: #cadbed;	*/
	border-bottom-color: #ff7f50;
	border-bottom-width: 10px;
	border-bottom-style: solid;
}

.detailstyle
{
	border-bottom-color: #ff7f50;
	border-bottom-width: thin;
	border-bottom-style: solid;
}

.boxstyle
{
	border-color: #0060a5;
	color: #0060a5;
}
/*input, select { font-size: 15px;  border: 1px solid silver; }

input.disabled { background-color: #F0F0F0; }
button        { font-size: 15px;  }
input.button  { cursor: pointer;   }*/







.hback
{
	font-size: medium;
	color: White;
	height: 50px;
	background-color: #31567d;
	padding-left: 5px;
}

.posted
{
	width: 10%;
	text-align: right;
	vertical-align: top;
	padding-right: 10px;
}



.alink a
{
	color: #0060a5;
	text-decoration: none;
	font-size: small;
	font-weight: bold;
}
/*
.alink a:visited 
{
	color:#cc9933;
}
*/

.alink a:hover
{
	color: #000000;
}
.alink a:active
{
	color: #cc9933;
}



.alink1 a
{
	color: #31567d;
	text-decoration: none;
}

.alink1 a:hover
{
	text-decoration: underline;
}



/*   Admin     */

.adminborder
{
	border-style: solid;
	border-width: thin;
	border-color: #dcdcdc;
	border-top-style: none;
	padding-left: 5px;
	height: 30px;
	vertical-align: middle;
}

.he1
{
	height: 20px;
}

.adlink a
{
	/*color: #ff6600;*/
	color: #3399ff;
	text-decoration: none;
	font-size: small;
}

.adlink a:hover
{
	/*color: #3399ff;*/
	text-decoration: underline;
}
.adlink a:active
{
	color: #cc9933;
}

.gridtext
{
	color: #808080;
}
