Hello,
<br />
<br />
You requested that your QPS password be reset.<br /> 
Your new password is: <br />

Login name: $$LOGIN_NAME$$<br />
Password: $$PASSWORD$$<br /><br />

After logging in, please visit the My Profile section to select a private password.<br /><br />


Thanks,<br />
QPS Support