<table class="span-4" style="padding-left: 55px;" id="TABLE1">
    <tr>
        <td>
            <a href="http://qpsinc.com">
                <img title="Quality &amp; Productivity Solutions, Inc." src="http://qpsinc.com/images/finalv1.gif"
                    class="top" alt="Quality &amp; Productivity Solutions, Inc.">
            </a>
        </td>
        <td>
            <div style="margin-top: 5px; width: 700px;" class="span-9">
                <h2 style="color: silver; font-family: helvetica;" class="alt bottom pull-1">
                    Quality and Productivity Solutions, Inc.</h2>
            </div>
        </td>
    </tr>
</table>
<br />
<br />
NAME : $$NAME$$<br />
EMAIL : $$EMAIL$$<br />
COMPANY : $$COMPANY$$ $$POSITION$$<br />
<!--SUBJECT : $$SUBJECT$$<br />-->
TELEPHONE : $$TELEPHONE$$<br />
COMMENTS : $$COMMENTS$$<br />
