<table class="span-4" style="padding-left:55px;" id="TABLE1">
    <tr>
        <td>
            <a href="http://qps.staging.perpetuating.com">
                <img title="Quality &amp; Productivity Solutions, Inc." src="http://qps.staging.perpetuating.com/images/finalv1.gif"
                    class="top" alt="Quality &amp; Productivity Solutions, Inc.">
            </a>
        </td>
        <td>
            <div style="margin-top: 5px; width: 700px;" class="span-9">
                <h2 style="color: silver; font-family: helvetica;" class="alt bottom pull-1">
            Quality and Productivity Solutions, Inc.</h2></div>
        </td>
    </tr>
</table>
<br />
<h2>
    $$CourseName$$</h2>

<b>Your entered details to get notification with us:  </b><br /><br />
<b>First Name:</b> $$FIRSTNAME$$<br />
<b>Last Name:</b> $$LASTNAME$$<br />
<b>Company:</b> $$COMPANY$$ <br />
<b>Location:</b> $$Location$$<br />
<b>State:</b> $$STATE$$<br />
<b>Email:</b> $$EMAIL$$<br />
<b>Phone:</b> $$PHONE$$<br />


<br /><b>Notified Course Information: </b><br /><br />

<b>Course No.:</b> $$CourseNo$$<br />
<b>Course Name:</b> $$CourseName$$<br />
<b>Course Description:</b><br />
 $$CourseDesc$$<br /><br />
<b>Topics Covered:</b><br />
$$TopicsCovered$$
<b>
<br />
<br />
Duration: </b>$$Duration$$<br />
<b>Cost:</b> $$Cost$$<br />
<br />
<b>For More Information:</b> <br />
Contact the Training Administrator <a href="mailto:info@qpsinc.com">info@qpsinc.com</a>, Toll Free: 1-877-987-3801 <br />
<br />


