<table class="span-4" style="padding-left:55px;" id="TABLE1">
    <tr>
        <td>
            <a href="http://qps.staging.perpetuating.com">
                <img title="Quality &amp; Productivity Solutions, Inc." src="http://qps.staging.perpetuating.com/images/finalv1.gif"
                    class="top" alt="Quality &amp; Productivity Solutions, Inc.">
            </a>
        </td>
        <td>
            <div style="margin-top: 5px; width: 700px;" class="span-9">
                <h2 style="color: silver; font-family: helvetica;" class="alt bottom pull-1">
            Quality and Productivity Solutions, Inc.</h2></div>
        </td>
    </tr>
</table>
<br />
<h2>
    $$SUBJECT$$</h2>
<div>
    <p>
        This course provides the attendees with the tools needed to understand and implement
        acceptance sampling.</p>
</div>
<b>Registration Details: </b><br /><br />
NAME : $$NAME$$<br />
EMAIL : $$EMAIL$$<br />
COMPANY : $$COMPANY$$ $$POSITION$$<br />
TELEPHONE : $$TELEPHONE$$<br />
COMMENTS : $$COMMENTS$$<br /><br />
<b>Register for a session now by clicking a date below: </b><br /><br />
<a href="#" style="color: #1155CC;">Thursday, Dec 15, 2011 1.00 PM EST </a><br />

