BODY
{
}

.menuBar
{
	POSITION: relative;
	BACKGROUND-COLOR: transparent;
	TEXT-ALIGN: center;
	font : 13px Arial, Helvetica, sans-serif;
}
.Bar
{
	FLOAT: left;
	WIDTH: 85px;
	CURSOR: hand;
	TEXT-INDENT: 5px;
	POSITION: relative;
	TEXT-ALIGN: center;
	background-color : #F7F3F7;
}
.menu
{
	VISIBILITY: hidden;
	WIDTH: 110px;
	LINE-HEIGHT: 140%;
	BORDER-RIGHT: blue 1px ridge;
	BORDER-LEFT: blue 1px ridge;
	BORDER-BOTTOM: blue 1px ridge;
	POSITION: absolute;
	font : Arial, Helvetica, sans-serif;
	background : #9DE7FF;
	font-size : 13px;
}
.menuItem
{

	WIDTH: 100%;
	CURSOR: hand;
	line-height : 125%;
	background : #C6E3E2;
}
.ItemMouseOver
{

	WIDTH: 100%;
	CURSOR: hand;
	BACKGROUND-COLOR: deepskyblue;

	line-height : 125%;
}
.ItemMouseOut
{
    WIDTH: 100%
}
.Arrow
{
    FLOAT: right;
    FONT-FAMILY: Webdings;
    POSITION: absolute;
    TEXT-ALIGN: left
}
.barOver
{
	BORDER-RIGHT: blue 1px ridge;
	BORDER-TOP: blue 1px ridge;
	BORDER-LEFT: blue 1px ridge;
	FLOAT: left;
	TEXT-INDENT: 5px;
	WIDTH:85px;
	CURSOR: hand;
	POSITION: relative;
	BACKGROUND-COLOR: deepskyblue;
	border-bottom : blue 1px ridge;
}
