/* body
{
align:center;
font-family:"lucida grande", tahoma, verdana, arial, sans-serif;
font-size:12px;
line-height:140%;
letter-spacing:0.3px;
margin:0;
padding:0;
background-image:url('../images/grads2.png');
background-position:0px -30px;
background-repeat:repeat-x;
background-color:white;
} */


/**************** Contact Page Design *************/

#content{
margin:15px 0 15px 0;
}
	
	#secondaryNav{
	float:left;
	background:url(../images/bg_secondaryNav_top.jpg) no-repeat #cee0ec;
	width:169px;
	}
		#secondaryNav .inner{background:url(../images/bg_secondaryNav_bot.jpg) bottom no-repeat;}
		#secondaryNav ul{
		margin:0;
		padding:0;
		list-style:none;
		font-family:Helvetica, Verdana, Arial, sans-serif;
		font-weight:bold;
		font-size:11px;
		}
			#secondaryNav ul a{
			color:#545454;
			text-transform:uppercase;
			}
				#secondaryNav ul ul a{
				color:#868585;
				text-transform:none;
				}
			#secondaryNav ul li{
			padding:15px 10px;
			border-bottom:1px solid #f2f6fa;
			}
				#secondaryNav ul .last{border:none;}
				#secondaryNav ul ul li{
				border:none;
				padding:15px 10px 0 10px;
				}
	
	#main{
	width:533px;
	float:right;
	}
	
		#main .left{
		color:#363636;
		float:left;
		width:344px;
		line-height:160%;
		font-size:10px;
		}
			#breadcrumb{color:#366d9a;}
				#breadcrumb a{
				color:#366d9a;
				font-weight:bold;
				}
				
			#main .left h2{
			color:#366d9a;
			font-size:14px;
			text-transform:uppercase;
			margin:0;
			font-family:Helvetica, Verdana, Arial, sans-serif;
			}
			#main .left h3{
			color:#366d9a;
			font-size:12px;
			margin:0;
			font-family:Helvetica, Verdana, Arial, sans-serif;
			}
			#main p{
			line-height:160%;
			}
			#main ul{}
				#main li{}
				
			#main ol{
			padding-left:20px;
			}
			
			#main table{
			width:344px;
			}
				
			#main dl{}
				#main dt{
				margin:0 0 10px 0;
				color:#366d9a;
				font-weight:bold;
				}
				#main dd{
				margin:0 0 10px 30px;
				}
			
			#main .row{
			clear:both;
			padding:6px 0;
			}
				#main .row .rowL{
				width:120px;
				float:left;
				text-align:right;
				}
				#main .row .rowR{
				width:210px;
				float:right;
				}
			#contactForm{margin:10px 0 0 0;}
			.formInput{width:175px;}
		
		#main .right{
		width:177px;
		float:right;
		}
			#main .right a{color:#fff;text-decoration:underline;}
			#main .right ul{padding:0 0 0 15px; color:#fff;}
				#main .right li{margin:5px 0;}
			.moduleLBlue{
			background:url(../images/bg_module_lblue_top.jpg) no-repeat;
			margin:0 0 10px 0;
			}
				.moduleLBlue .inner{
				background:url(../images/bg_module_lblue_bot.jpg) bottom no-repeat;
				padding:0 15px 1px 15px;
				}
			.moduleGreen{
			background:url(../images/bg_module_green_top.jpg) no-repeat;
			margin:0 0 10px 0;
			}
				.moduleGreen .inner{
				background:url(../images/bg_module_green_bot.jpg) bottom no-repeat;
				padding:0 15px 1px 15px;
				}
			.moduleDBlue{
			background:url(../images/bg_module_dblue_top.jpg) no-repeat;
			margin:0 0 10px 0;
			}
				.moduleDBlue .inner{
				background:url(../images/bg_module_dblue_bot.jpg) bottom no-repeat;
				padding:0 15px 1px 15px;
				}
				.moduleLBlue h3, .moduleGreen h3, .moduleDBlue h3{
				color:#fff;
				text-transform:uppercase;
				margin:0;
				padding:15px 0 10px 0;
				font-size:11px;
				font-weight:bold;
				font-family:Helvetica, Verdana, Arial, sans-serif;
				}
				.moduleLBlue p, .moduleGreen p, .moduleDBlue p{
				color:#fff;
				line-height:160%;
				margin:5px 0;
				}
			.moduleWhite{
			background:url(../images/bg_module_white_top.jpg) no-repeat;
			margin:0 0 10px 0;
			}
				.moduleWhite .inner{
				background:url(../images/bg_module_white_bot.jpg) bottom no-repeat;
				padding:0 15px 1px 15px;
				height:173px;
				}
				.moduleWhite blockquote{
				margin:0;
				padding:20px 0 0 0;
				font-size:16px;
				line-height:160%;
				}
				.moduleWhite blockquote span{
				font-style:italic;
				padding:10px 0 0 0;
				display:block;
				}

/**************************************************/


.bodywraps{background:url('../images/bgfooter.gif');background-position:bottom;background-repeat:repeat-x;padding-bottom:100px;}

#extfoot{float:left;display:inline;width:100%;clear:both;margin:0;margin-left:-21px;padding:10px;background:black;color:white;}

.maincont{width:990px;margin:0 auto 0 100px;background-color:white;background-image:url(../images/body-back-02-02.gif);background-repeat:repeat-y;}

.footnote{width:990px;margin:0 auto 0 42px;background-color:#eaeaea;}

.highcont{padding:0;margin:0;background:url(../images/body-back-03.gif);background-position:right;background-repeat:repeat-y;background-color:white;}

.infive{border-left:5px solid white;}

#bottlist{width:990px;padding:0;margin:0;height:auto;background-image:url(../images/quicklist-back.gif);background-position:top;background-repeat:repeat-x;z-index:100;}
#bottlist a{color:#616161;text-decoration:none;} /* color:rgb(0,96,165) */
#bottlist a:hover{color:black;text-decoration:none;}
#bottlist .upp a{color:rgb(0,96,165);text-decoration:none;font-weight:bold;}
#bottlist .upp a:hover{color:black;text-decoration:none;}

.grayref a{text-decoration:none;color:#616161;font-size:8pt;}

.grayref a:hover{text-decoration:none;color:black;}

.hrefnounderclass a{background:url(../images/right.gif);background-position:left top;background-repeat:no-repeat;text-decoration:none;color:#3E3E3E;padding-left:20px;}
.hrefnounderclass a:hover{text-decoration:none;color:black;}
.hrefnonuderclass a:active{background:url(../images/right-gray.gif);background-position:left top;background-repeat:no-repeat;color:gray;}


.hrefplainclass a{text-decoration:none;}
.hrefplainclass a:hover{text-decoration:none;color:black;}
.hrefplainclass a:active{color:gray;}


a.grayclass{background:url(../images/right-gray.gif);background-position:left center;background-repeat:no-repeat;color:#a68d0d;}

.graysmall{font-size:8pt;}

.grayregu{font-size:100%;}

a.nounder{text-decoration:none;color:#004080;}

.hundredline{line-height:100%;padding-bottom:13px;border-bottom:1px solid silver;margin-bottom:10px;}

.eightjustify{position:absolute;top:530px;left:450px;font-size:8.5pt;text-align:justify;padding:7px;border:5px solid #dadada;width:270px;z-index:100;background:#fafafa;}

.blackbk{float:right;text-align:center;padding:3px;background:black;color:silver;border-right:1px solid silver;}

.blackbl{float:right;text-align:center;padding:3px;background:#004080;color:silver;border-right:1px solid silver;}

.blackbl a, .blackbk a{font-weight:bold;text-decoration:none;color:silver;}

.blackbl a:hover, .blackbk a:hover{text-decoration:none;color:white;}
.blackbl a:active{text-decoration:none;color:white;background:gray;}

.bold{font-weight:bold;}
.normals{font-weight:normal;}
.colbright{color:#141D6B;}
.colblu
{
    color: #a68d0d; /*#993333;*/
    font-weight: bold;
}
.colblk{color:black;}
.colred{color:red;}
.colgry{color:gray;}
.colora{color:orange;}
.colsil{color:silver;}
.colwhi{color:white;}
.colgrn{color:green;}
.mostwrap{margin:0;padding:0;}

.spaceheadline{padding:7px;font-size:1.2em;}
.spaceheadline h3{padding-bottom:7px;border-bottom:1px dotted #004080;}


ul.coleablock{padding:0;margin:0;}
ul.coleablock li{display:block;font-size:1.1em;background:#eaeada;color:gray;border-bottom:1px solid #cacaca;margin-left:0;margin-bottom:0px;padding:3px;padding-left:10px;}
ul.coleablock li:hover{background:white}
ul.coleablock li.clicked{display:block;font-size:1.1em;background:gray;color:white;border-bottom:1px solid #cacaca;margin-left:0;margin-bottom:0px;padding:3px;padding-left:10px;}
ul.coleablock li.clicked a{color:white;}
ul.coleablock li a{font-weight:bold;color:#004080;margin-bottom:0px;padding-bottom:0px;text-decoration:none;}
ul.coleablock li a:hover{text-decoration:none;color:black}

.tunedul{margin:0;padding:0;}
.tunedul li{list-style-type:none;}
.tunedul li h3,h4,h5,p{margin:0;}


.splfn
{
font-family:lucida grande, arial, verdana;
color:#595959;
font-weight:bold;
line-height:120%;
}

.marginborder{margin-bottom:10px;padding-bottom:5px;line-height:100%;}

.quotediv{margin:1px;}

.quotediv div{background:url(../images/quote.gif);background-position:top-left;background-repeat:no-repeat;padding-left:25px;}
.quotediv div h6{font-size:1.4em;color:#004080;font-weight:normal;line-height:100%;}
.quotediv div p{color:black;font-size:1.2em;}
.quotediv div p span{display:block;font-size:10pt;font-weight:bold;line-height:100%;color:#004080;}

.topbar
{
padding-top:3px;
width:100%;
height:30px;
background-color:black;
background-image:url('../images/top-duo-strip.gif');
background-position:top;
background-repeat:repeat-x
}

.tops a
{
display:block;
text-align:center;
width:105px;
text-decoration:none;
font-size:1.5em;
font-weight:bold;
color:#eaeaea;
}

.tops a:hover
{
width:105px;
text-decoration:none;
color:black;
background:url(../images/top-back.gif);
background-position:center;
background-repeat:no-repeat;
}

.topsB a
{
display:block;
text-align:center;
width:250px;
text-decoration:none;
font-size:1.5em;
font-weight:bold;
color:#eaeaea;
}

.topsB a:hover
{
width:250px;
text-decoration:none;
color:black;
background:url(../images/back-big.gif);
background-position:center;
background-repeat:no-repeat;
}


a.topsB {background:url(../images/top-back-big1.gif) no-repeat;  width:250px; height:21px; color:black; background-position:center; line-height:21px;}

/*.custBg {background:none;}
.custBg:hover {width:250px;
text-decoration:none;
color:black;
background:url(../images/back-big.gif);
background-position:center;
background-repeat:no-repeat;
background-position:top left;
z-index:999;
position:relative;
}
.topsi:hover 
{
width:250px;
text-decoration:none;
color:black;
background:url(../images/back-big.gif);
background-position:center;
background-repeat:no-repeat;
}*/
.tops a:active
{
width:105px;
text-decoration:none;
color:black;
background:url(../images/top-back-02.gif);
background-position:center;
background-repeat:no-repeat;
}

a.topsact
{
width:105px;
text-decoration:none;
color:black;
background:url(../images/top-back-02.gif);
background-position:center;
background-repeat:no-repeat;
}
a.topsi
{
 width:205px;
text-decoration:none;
color:black;
background:url(../images/back02.gif);
background-position:center;
background-repeat:no-repeat;
    
}

.tops a.topsmall
{
font-weight:normal;
float:left;
text-align:left;
padding:0px;
width:3px;
text-decoration:none;
color:white;
background-image:none;
}

.tops a:hover.topsmall
{
padding:0px;
width:3px;
text-decoration:none;
color:orange;
background-image:none;
}

.tops1 a
{
display:block;
text-align:center;
width:150px;
text-decoration:none;
font-size:1.5em;
font-weight:bold;
color:#eaeaea;
}

.tops1 a:hover
{
width:145px;
text-decoration:none;
color:black;
background:url(../images/top-back222.gif);
background-position:center;
background-repeat:no-repeat;
}

a.topsact1
{
width:145px;
text-decoration:none;
color:black;
background:url(../images/top-back-04.gif);
background-position:center;
background-repeat:no-repeat;
}

.hrfs-3
{
width:105px;
}

.hrfs-3 hover
{
width:105px;
background:url(../images/top-back.gif);
background-position:center;
background-repeat:no-repeat;
}

a
{
text-decoration:none;
color:#004080;
}

a:hover
{
text-decoration:none;
color:red;
}

#aboutli
{
background:transparent;
}

#aboutli ul
{
padding-left:10px;
}

#aboutli ul p
{
color:black;
font-weight:normal;
font-size:9pt;
}

#aboutli ul li
{
padding-top:5px;
color:#004080;
font-weight:bold;
font-size:13pt;
}

#aboutli ul li ul li
{
color:gray;
font-weight:bold;
font-size:11pt;
}

#aboutli ul li ul li ul li
{
color:black;
font-weight:normal;
font-size:9pt;
}



#Barea {
	width: 989px;
	margin: 0 auto 0 auto;
	padding: 0 6px 0 6px;
	border-left:1px solid silver;
	border-right:1px solid silver;
	/* background-image:url(../images/bodyback-05.gif);
	background-repeat:no-repeat;
	background-position:130px 135px;
	background-attachment:scroll; */
}

#headbann
{
position:relative;
left:-6px;
top:22px;
margin:0px;
padding:0px;
background:url('../images/silver-back-01.gif');
width:1001px;
}

#navigation
{
position:relative;
left:0px;
top:15px;
width:995px;
}


#breadcrumb{
	background-color:rgb(59,89,152);/* rgb(109,132,180); #eaeaea; */
	float:left;
	height:25px;
	padding-left:15px;
	padding-right:15px;
	padding-top:6px;
	border:1px solid white;
	color:#eaeaea;
	width:230px;
	text-align:center;

}



#mainarea
{
position:relative;
left:25px;
top:58px;
width:425px;
/* border:1px solid #2D4353;
border-left:7px solid silver; */
padding:15px;
margin-bottom:50px;
/* background:white;
background-image:url('../images/linestripleft.gif');
background-repeat:repeat-y;
background-position:left; */
}

#widbar {
	font-family:helvetica;
	width: auto;
	height: 33px;
	/* border-bottom: 1px black solid; */
	padding: 0;
	margin: 0;
}

#widbar a {
	/* font-family: "Trebuchet MS", Verdana, Arial, Sans-Serif; */
	color:white; /* #2D4353 #004080; /* #333; */
	font-size:1.0em;
	display: block;
	float: left;
	margin-left:1px;
	padding: 4px 1px 4px 1px;
	/*border:1px solid #2D4353; */
	text-align: center;
	height: 20px;
	width:124px;
	background-image:url('../images/tab-03.gif');
	background-repeat:no-repeat;
	background-position:center;
	/* background-color:#2D4353; /* transparent; */
	text-decoration:none;
}


#widbar a:hover {
	/*nothing pretty so we dont break paths to files */
   	background-image:url('../images/tab-01.gif');
	background-repeat:no-repeat;
	background-position:center;
	/* background-color:#fafafa; /* #CECECE; */
	color:black;
	text-decoration: none;
	/* border-bottom:none; */
}

#widbar a:active {
	/*nothing pretty so we dont break paths to files */
	background-color: #CECECE;
	text-decoration: none;
}

#widbar li {
	list-style:none;

}


#widbar li.wid_item {
	display: inline;

}


#vertbar {
	font-family:helvetica;
	font-size:9pt;
	width: auto;
	/* height: 27px; */
	/* border-bottom: 1px black solid; */
	padding: 0;
	margin: 0;
	background:#0055AA;
	padding-top:15px;
	padding-bottom:15px;
	background-image:url('../images/vertback.gif');
	background-position:left;
	background-repeat:repeat-y;
}

#vertbar a {
	/* font-family: "Trebuchet MS", Verdana, Arial, Sans-Serif; */
	color:white; /* #004080; /* #333; */
	font-size:1.0em;
	display: block;
	/* float: left; */
	padding: 4px 15px 4px 15px;
	border:1px solid gray;
	border-top:none;
	border-right: none;
	border-left: none;
	text-align: center;
	height: 20px;
	background-color: transparent; /* #2D4353; */
	text-decoration:none;
}


#vertbar a:hover {
	/*nothing pretty so we dont break paths to files */
	background-color:#eaeaea; /* #CECECE; */
	color:black;
	text-decoration: none;
	border-bottom:1px solid transparent;
}

#vertbar a:active {
	/*nothing pretty so we dont break paths to files */
	background-color: #CECECE;
	text-decoration: none;
}

#vertbar li {
	list-style:none;
	/*border-bottom:1px solid gray; */
}

#vertbar li.wid_vert {
	display: block;
}

#vertbar li.wid_head {
	display: block;
	color:#1A8CFF;
	text-align:center;
	font-weight:bold;
	font-size:1.3em;
	padding: 4px 15px 4px 15px;
	border:1px solid gray;
	border-top:none;
	border-right: none;
	border-left: none;
	}

.linecol
{
font-size:9pt;
display:block;
position:relative;
left:0;
width:525px;
height:auto;
text-align:left;
margin:0;
padding:0;
clear:both;
}

.linecol .lcitem
{
float:left;
width:165px;
border-top:1px solid silver;
/* border-right:1px solid silver; */
padding:5px;
text-align:left;
background-color:white;
}

.linecol .lcitem a
{
color:#004080;
font-weight:bold;
text-decoration:none;
}

.linecol .lcitem a:hover
{
color:#0063C6;
font-weight:bold;
text-decoration:none;
}

.actcl
{
background-color:white;
color:black;
}

.orgl a {
	/* font-family: "Trebuchet MS", Verdana, Arial, Sans-Serif; */
	color:white; /* #004080; /* #333; */
	font-size:1.0em;
	display: block;
	float: left;
	margin-left:7px;
	padding: 4px 15px 4px 15px;
	border:1px solid #2D4353;
	text-align: center;
	height: 20px;
	background-color:#2D4353; /* transparent; */
	text-decoration:none;
}


.orgl a:hover {
	/*nothing pretty so we dont break paths to files */
	background-color:#fafafa; /* #CECECE; */
	color:black;
	text-decoration: none;
	/* border-bottom:none; */
}

#rightmen
{
font-family:arial;
font-size:9pt;
width:125px;
text-align:right;
}

#rightmen div
{
padding:0px;
margin:0px;
}


#rightmen a
{
background-image:url('../images/right-but-01.gif');
background-position:right;
background-repeat:no-repeat;
color:white;
padding:3px;
padding-right:7px;
text-align:right;
text-decoration:none;
display:block;
}

#rightmen a:hover
{
background-image:url('../images/right-but-02.gif');
background-position:right;
background-repeat:no-repeat;
color:black;
}

#topmen
{
/* position:relative;
left:720px;
top:-115px; */
font-family:arial;
font-size:8pt;
width:auto;
padding-bottom:15px;
}

#topmen ul
{
margin-top:0px;
padding-top:10px;
padding-bottom:25px;
}

#topmen li
{
list-style:none;
}

#topmen li.titem
{
display:inline;
}


#topmen a
{
display: block;
float: left;
margin-left:1px;
padding: 4px 1px 4px 1px;
width:70px;
background-image:url('../images/blinx-06.gif');
background-position:center;
background-repeat:no-repeat;
color:black;
text-align:center;
text-decoration:none;
}

#topmen a:hover
{
background-image:url('../images/blinx-05.gif');
background-position:center;
background-repeat:no-repeat;
color:white;
}



#topmen a.plain
{
display: block;
float: left;
margin-left:1px;
padding: 4px 1px 4px 1px;
width:140px;
color:#dadada;
background:none;
font-weight:bold;
text-align:center;
text-decoration:none;
}

#topmen a:hover.plain
{
text-decoration:underline;
background:none;
color:white;
}

.whitends
{
position:absolute;
top:225px;
left:45%;
width:525px;
padding:5px;
padding-left:20px;
font-size:11pt;
font-weight:bold;
background-image:url('../images/black-rnd-tl.gif');
background-position:top left;
background-repeat:no-repeat;
background-color:rgb(239,238,238);
border-bottom:1px solid silver;
}

.whitends p
{
padding:5px;
padding-left:25px;
margin:0;
/* background-image:url('../images/whitends.gif');
background-position:bottom left;
background-repeat:no-repeat; */
border-bottom:1px solid white;
opacity:0.7;
filter:alpha(opacity=70);
}

.whitends p span
{
font-size:6pt;
letter-spacing:2px;
}

.blts a
{
background-image:url('../images/urlpage-01.gif');
background-position:left;
background-repeat:no-repeat;
padding-left:23px;
}

.blts a.spl
{
background-image:url('../images/urlpage-02.gif');
background-position:left;
background-repeat:no-repeat;
padding-left:23px;
font-weight:bold;
}

.Tabs {
	line-height:normal;
	margin-bottom: 0;
	background: transparent;
	position: relative;
	height: 28px;
	border-bottom: 1px #666 solid;

}

.Tabs ul {

	margin: 0 0 0 10px;
	list-style:none;
    padding:0px;
}

.Tabs ul.Right {margin: 0 19px 0 0;}

.Tabs li {
	background:  url(../images/x-tab_right.gif) no-repeat right top;
	margin:0 0px 0 0; /*Gap between tabs*/
	padding:0;
	float:left;
	font-size: 11px;
	position: relative; /*used this technique to solve an IE6 bug*/
	top: 8px;
}

.Tabs ul.Right li {float: right;}

.Tabs li a, .Tabs li span {
	background:  url(../images/x-tab_left.gif) no-repeat left top;
	padding:3px 15px 3px 17px;
	color:#000;
	float:left;
	display:block;
	text-decoration:none;
	-moz-outline-style: none;
	outline: none;
}

.Tabs li a:hover {text-decoration: underline;}

.Tabs li a:active
{
-moz-outline-style: none;
outline: none;
}

.Tabs li.Current {
	font-weight: bold;
	background-image:  url(../images/x-tab_right_act.gif);
	border-bottom:1px solid white;
}

.Tabs li.Current a, .Tabs li.Current span {
	background-image:  url(../images/x-tab_left_act.gif);
	-moz-outline-style: none;
	outline: none;
}

.Tabs li.Current a:active, .Tabs li.Current span {
	-moz-outline-style: none;
	outline: none;
}

.Tabs li.Current a:focus, .Tabs li.Current span {
	-moz-outline-style: none;
	outline: none;
}

.Tabs li.Current span {color:#fff;}

table.CourseTab
{
width:100%;
vertical-align:top;
padding:0px;
cell-padding:0px;
cell-spacing:0px;
border-spacing:0px;
}

table.CourseTab th
{
font-weight:bold;
background:Gray;
color:white;
text-align:center;
border-right:2px solid silver;
border-spacing:0px;
padding:3px;
}

table.CourseTab td
{
font-weight:normal;
border-bottom:1px solid silver;
text-align:left;
padding:5px;
padding-top:7px;
padding-bottom:7px;
}

table.CourseTab td.lastd
{
border-bottom:none;
}

table.CourseTab a
{
font-weight:bold;
color:#004080;
text-decoration:none;
}

table.CourseTab a:hover
{
color:black;
}

.rightarrowed{background:url(../images/right.gif);background-position:left center;background-repeat:no-repeat;padding-left:15px;padding-top:2px;}
.arrowedback{color:black;background:url(../images/right.gif);background-position:left center;background-repeat:no-repeat;background-color:#eaeaea;padding:5px;padding-left:15px;}
.arrowedbullet li{line-height:110%;margin-bottom:9px;list-style-type:none;background:url(../images/right.gif);background-position:left 9px;background-repeat:no-repeat;padding-left:15px;padding-top:7px;font-size:120%}
.arrowedbullet li a{font-size:90%;text-decoration:none;color:#004080;}
.arrowedbullet li a:hover{text-decoration:none;color:black;}

.topsub{height:25px;display:none;padding:0px;margin:0px;position:relative;top:-2px;left:40px;width:829px;background-image:url(../images/sub-center-01.gif);background-position:bottom;background-repeat:repat-x;background-color:black;opacity:.7;filter:alpha(Opacity=70);}
/* .tobsub leftop.div{float:left;background-image:url(../images/sub-left-01.gif);background-position:left bottom;background-repeat:no-repeat;background-color:black;margin:0;padding:0;padding-left:5px;width:302px;line-height:180%;text-align:center;color:white;font-size:10pt;} */
/* .tobsub div.rightop{float:left;background-image:url(../images/sub-right-01.gif);background-position:right bottom;background-repeat:no-repeat;background-color:black;} */
.topsub img{margin:0px;padding:0px;background-color:black;}

.topsub a{text-decoration:none;color:black;}
.topsub a:hover{text-decoration:none;color:white;}
.topsub a:active{color:white;font-weight:bold;}
.topsub a:focus{color:white;font-weight:bold;}

div.leftop{float:left;height:25px;background-image:url(../images/sub-left-01.gif);background-position:left bottom;background-repeat:no-repeat;background-color:#313131;margin:0;padding:0;width:4px;}
div.centop{float:left;height:25px;width:821px;background-image:url(../images/sub-center-01.gif);background-position:bottom;background-repeat:repat-x;background-color:black;line-height:150%;text-align:left;color:white;font-size:11pt;margin:0;padding:0;}
div.rightop{float:left;height:25px;background-image:url(../images/sub-right-01.gif);background-position:right bottom;background-repeat:no-repeat;background-color:black;margin:0;padding:0;width:4px;}
div.incentop{background:url(../images/arrow-01.gif);background-position:left;background-repeat:no-repeat;background-color:transparent;padding-left:17px;}

:-moz-any-link:focus{outline: none;}
a{outline:none;}
a:active{outline:none;-moz-outline-style: none;}
a:focus{outline:none;-moz-outline-style: none;}

#ticker a 
{
	font-size:13.4px;
}

