<%@ Control Language="C#" AutoEventWireup="true" Codebehind="FCKEditor.ascx.cs" Inherits="Admin_v2.controls.FCKEditor" %>
<%@ Register TagPrefix="FCKeditorV2" Namespace="FredCK.FCKeditorV2" Assembly="FredCK.FCKeditorV2" %>
<FCKeditorV2:FCKeditor ID="FCKContent" runat="server" Width="702" Height="500">
</FCKeditorV2:FCKeditor>
