<table class="CourseTab" cellpadding=0 cellspacing=0 border=0>
<thead>
    <tr>
        <th>Course</th>
        <th>Course No.</th>
        <th>Days</th>
        <th style="width: 170px">Dates</th>
        <th>Location</th>
        <!--<th>Fee</th>-->
        <th>Add</th>
    </tr>
</thead>
<tbody>
    <!--Course : 111 - Start -->
	<tr>
		<!--<td rowspan="8" valign="middle" align="center" style="WRITING-MODE: tb-rl; filter: flipH() flipV(); background:#FF8181; FONT-WEIGHT: bold; FONT-SIZE: 24px; COLOR: black; FONT-FAMILY: 'Times New Roman';">
		SIX SIGMA</td>-->
        <td><a href='javascript:openPopup("../documents/111LeanSixSigmaOverview.htm")' >
		Lean Six Sigma Management Overview</a></td>
	    <td>111</td>
		<td>
            1/2</td>
	    <td style="width: 170px"><div align="center">            
           Jan 9, 2012 <br /> or
            <br />
          Feb 27, 2012 <br />
            or
            <br />
          Apr 2, 2012 <br />
            or
            <br />
         May 7, 2012</div></td>
	    <td><div align="center">
            Marlborough, MA<br />
        </div></td>
	    <!--<TD>
            $195
        </TD>-->
        <form id="FormCSSILOV" name="FormTLSSMO" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="TLSSMO" ID="Hidden1"/> <input type="hidden" name="cost" value="195" ID="Hidden2"/>
		<input type="hidden" name="courseTitle" value="Lean Six Sigma Management Overview" ID="Hidden3"/>
		</form>
		<td valign="middle"><a href="" onClick="document.FormTLSSMO.submit(); return false;"><img src='../Images/addtocart.gif' border="0" /></a></td>
    </tr>
	<!--Course : 111 - End -->
	<!--Course : 112 - Start -->
	<tr class="oddRow">
		<td><a href='javascript:openPopup("../documents/112 Champion Certification.htm")'>
		Champion Training </a>					</td>
	    <td>112</td>
		<td>4</td>
	    <td style="width: 170px"><div align="center">            
          Feb 27-Mar 1, 2012 <br />
            or
            <br />Apr 2-5, 2012 <br />
            or
            <br /> May 7-10, 2012 <br />
         </div></td>
	    <td><div align="center">
            Marlborough, MA<br /> or<br />
            Hartford, CT<br />
            or<br />Woodbridge, NJ 
        </div></td>
	    <!--<td>$2,000</td>-->
        <form id="FormCSSICHC" name="FormCSSICHC" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="CSSICHC" ID="Hidden4"/> <input type="hidden" name="cost" value="1500" ID="Hidden5"/>
		<input type="hidden" name="courseTitle" value="Six Sigma Champion Certification" ID="Hidden6"/>
		</form>
		<td valign="middle"><a href="" onClick="document.FormCSSICHC.submit(); return false;"><img src='../Images/addtocart.gif' border="0"/></a></td>
    </tr>
	<!--Course : 112 - End -->
	<!--Course : 113A - Start -->
	<TR>
		<td><a href='javascript:openPopup("../documents/113ALeanSixSigmaGreenBeltCertification.htm")'>
		Lean Six Sigma Green Belt Certification</a></td>
		<td>113A</td>
		<td>9</td>
        <td style="width: 170px"><div align="center">
         Jan 3-6, 2012<br /> Jan 9-13, 2012  <br />
            or<br />
          Feb 21-24, 2012 <br />Feb 27-Mar 2, 2012<br /> or
            <br />
         Mar 26-29, 2012 <br /> Apr 2-6, 2012 <br /> or
            <br />
         May 7-10, 2012 <br /> May 14-18, 2012
            </div></td>
	    <td><div align="center">Marlborough, MA<br />
            or<br />Hartford, CT<br />
            or<br />
            Woodbridge, NJ<br />
            or<br />Chicago, IL<br />
            or<br />Charlotte, NC</div></td>
	    <!--<td>$3,950</td>-->
        <Form id="Form4" name="FormESSAGBC" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="ESSAGBC" ID="Hidden115"/> <input type="hidden" name="cost" value="3500" ID="Hidden116"/>
		<input type="hidden" name="courseTitle" value="Lean Six Sigma Green Belt Certification" ID="Hidden117"/>
		</Form>
		<td valign="middle"><a href="" onClick="document.FormESSAGBC.submit(); return false;"><img src='../Images/addtocart.gif' border="0"/></a></td>
    </TR>
	<!--Course : 113A - End -->
	<!--Course : 114 - Start -->
	<TR class="oddRow">
		<td><a href='javascript:openPopup("../documents/114 Six Sigma  Black Belt Certification.htm")'>
		Six Sigma Black Belt Certification</a></td>
		<td>114</td>
		<td>13
        </td>
        <td style="width: 170px"><div align="center">
          Starts Every 5-7 weeks:
            <br /> Jan 9, Feb 27, Apr 2,<br />May 14 
        </div></td>
	    <td><div align="center">Marlborough, MA<br />
            or<br />
            Hartford, CT<br />
            or<br />Woodbridge, NJ<br /></div></td>
	    <!--<td>$6,900</td>-->
        <Form id="FormCSSIBBC" name="FormCSSIBBC" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="CSSIBBC" ID="Hidden10"/> <input type="hidden" name="cost" value="6000" ID="Hidden11"/>
		<input type="hidden" name="courseTitle" value="Six Sigma Black Belt Certification" ID="Hidden12"/>
		</Form>
		<td valign="middle"><a href="#" onClick="document.FormCSSIBBC.submit(); return false;"><img src='../Images/addtocart.gif' border="0"/></a></td>
    </TR>
	<!--Course : 114 - End -->
	<!--Course : 115 - Start-->
	<TR>
		<td><a href='javascript:openPopup("../documents/115DesignforSixSigmaOverview.htm")' >
		Design For Six Sigma Overview</a></td>
		<td>115</td>
		<td>
            2</td>
        <td style="width: 170px"><div align="center">
            <span style="color: #000000; mso-fareast-font-family: Batang; mso-ansi-language: EN-US;
                mso-fareast-language: EN-US; mso-bidi-language: AR-SA">
                Mar 5-6, 2012 <br /> or
                <br />June 11-12, 2012
            </span>
        </div></td>
	    <td><div align="center">
            Marlborough, MA<br /></div></td>
	    <!--<td>
            $995</td>-->
        <form id="FormCSSIDFOV" name="FormCSSIDFOV" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="CSSIDFOV" ID="Hidden13"/> <input type="hidden" name="cost" value="995" ID="Hidden14"/>
		<input type="hidden" name="courseTitle" value="Design for Six Sigma Overview" ID="Hidden15"/>
		</form>
		<td valign="middle"><a href="#" onClick="document.FormCSSIDFOV.submit(); return false;"><img src='../Images/addtocart.gif' border="0"/></a></td>
    </TR>
	<!--Course : 115 - End -->
	<!--Course : 116 - Start -->
	<TR class="oddRow">
		<td><a href='javascript:openPopup("../documents/116 DesignforSixSigmaCertification.htm")' >
		Design For Six Sigma (DFSS) Certification (Transactional or Product)</a>					</td>
		<td>116</td>
		<td>5</td>
        <td style="width: 170px"><div align="center">
            Mar 5-9, 2012<br /> or
            <br />June 11-15, 2012</div></td>
	    <td><div align="center">
            Marlborough, MA<br /></div></td>
	    <!--<td>
            $2,000</td>-->
        <form id="FormCSSIDFC" name="FormCSSIDFC" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="CSSIDFC" ID="Hidden127"/> <input type="hidden" name="cost" value="2000" ID="Hidden128"/>
		<input type="hidden" name="courseTitle" value="Design For Six Sigma (DFSS) Certification" ID="Hidden129"/>
		</form>
		<td valign="middle"><a href="#" onClick="document.FormCSSIDFC.submit(); return false;"><img src='../Images/addtocart.gif' border="0"/></a></td>
    </TR>
	<!--Course : 116 - End -->
	<!--Course : 117 - Start -->
	<tr>
		<td><a href='javascript:openPopup("../documents/117 Six Sigma  Master BB Certification.htm")'>
		Master Black Belt Certification</a></td>
		<td>117</td>
		<td>-</td>
	    <td style="width: 170px"><div align="center">
            Can be started any time<br />
            </div></td>
	    <td><div align="center">
            Marlborough, MA<br />
            or<br />Chicago, IL
        </div></td>
	    <!--<td>$15,000</td>-->
        <Form id="FormCSSIMBB" name="FormCSSIMBB" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="CSSIMBB" ID="Hidden16"/> <input type="hidden" name="cost" value="10000" ID="Hidden17"/>
		<input type="hidden" name="courseTitle" value="Six Sigma Master Black Belt Certification" ID="Hidden18"/>
		</Form>
		<td valign="middle"><a href="" onClick="document.FormCSSIMBB.submit(); return false;"><img src='../Images/addtocart.gif' border="0"/></a></td>
    </tr>
	<!--Course : 117 - End -->
	<!--Course : 118 - Start -->
	<tr class="oddRow">
		<td><a href='javascript:openPopup("../documents/118 Lean Six Sigma  Black Belt Certification.htm")'>
		Lean Six Sigma Black Belt Certification </a>					</td>
		<td>118</td>
		<td>
            22</td>
        <td style="width: 170px"><div align="center">
           Starts every 5-7 weeks:<br />Jan 3, Feb 21, Mar 26, <br />May 1
        </div></td>
	    <td><div align="center">Marlborough, MA<br />
            or<br />Woodbridge, NJ</div></td>
	    <!--<td>$10,000</td>-->
        <Form id="FormCSSILBB" name="FormCSSILBB" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="CSSILBB" ID="Hidden19"/> <input type="hidden" name="cost" value="8500" ID="Hidden20"/>
		<input type="hidden" name="courseTitle" value="Lean Six Sigma Black Belt Certification"	ID="Hidden21"/>
		</Form>
		<td valign="middle"><a href="#" onClick="document.FormCSSILBB.submit(); return false;"><img src='../Images/addtocart.gif' border="0"/></a></td>
    </tr>
	<!--Course : 118 - End -->
	<!--Course : 121 - Start -->
	<tr>
		<!--<td rowspan="7" valign="middle" align="center" style="WRITING-MODE: tb-rl; filter:   flipH() flipV(); background:#00CCFF; FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: black; FONT-FAMILY: 'Times New Roman';">LEAN</td>-->
        <td style="width: 451px"><a href='javascript:openPopup("../documents/121 How to implement lean  in small companies.htm")' documents companies.htm?)? small in lean implement to How 121 name=CLENISC>
		How to Implement Lean</a></td>
		<td style="width: 128px">121</td>
		<td>2</td>
        <td style="width: 170px"><div align="center">
         Jan 3-4, 2012  <br /> or
            <br /> Feb 21-22, 2012 <br /> or
            <br /> May 7-8, 2012
        </div></td>
	    <td><div align="center">Marlborough, MA<br />
            or<br />
            Hartford, CT<br /></div></td>
	    <!--<TD>$795</TD>-->
        <Form id="FormCLENISC" name="FormCLENISC" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="CLENISC" ID="Hidden22"> <input type="hidden" name="cost" value="795" ID="Hidden23">
		<input type="hidden" name="courseTitle" value="How to Implement Lean in small companies" ID="Hidden24">
		</Form>
		<td center valign="middle"><a href="" onClick="document.FormCLENISC.submit(); return false;"><img src='../Images/addtocart.gif' border="0"></a></td>
    </tr>
	<!--Course : 121 - End -->
	<!--Course : 122 - Start -->
	<tr class="oddRow">
		<td style="width: 451px"><a href='javascript:openPopup("../documents/122 Value Stream Mapping.htm")' documents Mapping.htm?)? Stream Value 122 name=CLENVSM>
		Value Stream Mapping</a></td>
		<td style="width: 128px">122</td>
		<td>1</td>
	    <td style="width: 170px"><div align="center">
           Jan 4, 2012 <br /> or
            <br /> Feb 22, 2012 <br /> or
            <br /> May 8, 2012
        </div></td>
	    <td><div align="center">Marlborough, MA<br />
            or<br />
            Hartford, CT<br /></div></td>
	    <!--<td>
            $495</td>-->
        <Form id="FormCLENVSM" name="FormCLENVSM" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="CLENVSM" ID="Hidden25"> <input type="hidden" name="cost" value="495" ID="Hidden26">
		<input type="hidden" name="courseTitle" value="Value Stream Mapping" ID="Hidden27">
		</Form>
		<td center valign="middle"><a href="" onClick="document.FormCLENVSM.submit(); return false;"><img src='../Images/addtocart.gif' border="0"></a></td>
    </tr>
	<!--Course : 122 - End -->
	<!--Course : 123 - Start -->
	<tr>
		<td style="width: 451px"><a href='javascript:openPopup("../documents/123Kaizenworkshop.htm")' documents workshop.htm?)? Kaizen 123 name=CLENKZW>
		How to Conduct Kaizen Workshop</a></td>
		<td style="width: 128px">123</td>
		<td>2</td>
	    <td style="width: 170px"><div align="center">
           Jan 4-5, 2012  <br /> or
            <br /> Feb 22-23, 2012<br /> or <br />May 8-9, 2012
        </div></td>
	    <td><div align="center">Marlborough, MA<br />
            or<br />
            Hartford, CT<br /></div></td>
	    <!--<td>$795</td>-->
        <Form id="FormCLENKZW" name="FormCLENKZW" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="CLENKZW" ID="Hidden28"> <input type="hidden" name="cost" value="795" ID="Hidden29">
		<input type="hidden" name="courseTitle" value="kaizen Workshop" ID="Hidden30">
		</Form>
		<td center valign="middle"><a href="#" onClick="document.FormCLENKZW.submit(); return false;"><img src='../Images/addtocart.gif' border="0"></a></td>
    </tr>
	<!--Course : 123 - End -->
	<!--Course : 124 - Start -->
	<tr class="oddRow">
		<td style="width: 451px"><p><a href='javascript:openPopup("../documents/124 Lean ExpertCertification.htm")' documents Certification.htm?)? Lean Expert 124 name=CLENEXC>
		Lean Expert Certification</a></p></td>
		<td style="width: 128px">124</td>
		<td>
            7</td>
        <td style="width: 170px"><div align="center">
           Jan 3-6, 2012 & <br /> Mar 5-8, 2012 <br /> or
            <br />Feb 21-24, 2012 <br /> Apr 10-13, 2012  <br /> or
            <br /> May 7-10, 2012 <br />June 19-22, 2012<br />   
        </div></td>
	    <td><div align="center">Marlborough, MA<br />
            or<br />
            Hartford, CT<br /> or <br/> Woodbridge, NJ</div></td>
	    <!--<td>
            $3,000</td>-->
        <Form id="FormCLENEXC" name="FormCLENEXC" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="CLENEXC" ID="Hidden31"> <input type="hidden" name="cost" value="3000" ID="Hidden32">
		<input type="hidden" name="courseTitle" value="Lean Expert Certification" ID="Hidden33">
		</Form>
		<td valign="middle"><a href="#" onClick="document.FormCLENEXC.submit(); return false;"><img src='../Images/addtocart.gif' border="0"></a></td>
    </tr>
	<!--Course : 124 - End -->
	<!--Course : 125 - Start -->
	<tr>
		<td style="width: 451px"><a href='javascript:openPopup("../documents/125 5 S and Visual Controls.htm")' documents Controls.htm?)? Visual and S 5 125 name=CLENSVC>
		5 S and Visual Controls </a></td>
		<td style="width: 128px">125</td>
		<td>1</td>
	    <td style="width: 170px"><div align="center">
          Mar 5, 2012 <br /> or
            <br /> Apr 10, 2012<br /> or
            <br /> June 19, 2012 <br />
 
            </div></td>
        <td><div align="center">Marlborough, MA<br /></div></td>
	    <!--<td>
            $395</td>-->
        <Form id="FormCLENSVC" name="FormCLENSVC" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="CLENSVC" ID="Hidden34"> <input type="hidden" name="cost" value="395" ID="Hidden35">
		<input type="hidden" name="courseTitle" value="5 S and Visual Controls" ID="Hidden36">
		</Form>
		<td valign="middle"><a href="#" onClick="document.FormCLENSVC.submit(); return false;"><img src='../Images/addtocart.gif' border="0"></a></td>
    </tr>
	<!--Course : 125 - End -->
	<!--Course : 126 - Start -->
	<tr class="oddRow">
		<td style="width: 451px"><a href='javascript:openPopup("../documents/126 Standardized work.htm")' >
		Standardized Work  </a></td>
		<td style="width: 128px">126</td>
		<td>1</td>
	    <td style="width: 170px"><div align="center">
           Jan 6, 2012 <br /> or
            <br />Feb 24, 2012<br /> or
            <br />May 10, 2012
        </div></td>
	    <td><div align="center">Marlborough, MA</div></td>
	    <!--<td>
            $395</td>-->
        <Form id="FormSDZDWK" name="FormSDZDWK" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="SDZDWK" ID="Hidden37"> <input type="hidden" name="cost" value="395" ID="Hidden38">
		<input type="hidden" name="courseTitle" value="Standardized Work" ID="Hidden39">
		</Form>
		<td valign="middle"><a href="#" onClick="document.FormSDZDWK.submit(); return false;"><img src='../Images/addtocart.gif' border="0"></a></td>
    </tr>
	<!--Course : 126 - End -->
	<!--Course : 127 - Start -->
	<!--<tr>
		<td style="width: 450px"><a href='javascript:openPopup("../documents/127 Set up reduction JIT.htm")' documents 127ImprovingEquipmentReliabilityTPM.htm?)? name=CLENIER>
		Set Up Reduction/JIT</a></td>
		<td style="width: 100px">127</td>
		<td style="width: 60px">1</td>
		<td style="width: 170px"><div align="center">
           Oct 13, 2010
            </div></td>
		<td style="width: 150px"><div align="center">Marlborough, MA<br />OR<br />Hartford, CT<br />OR<br />Chicago, IL</div></td>
		<td style="width: 100px">
            $395</td>
		<Form id="Form3" name="FormCLENIER" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="CLENSRJ" ID="Hidden7"> <input type="hidden" name="cost" value="395" ID="Hidden8">
		<input type="hidden" name="courseTitle" value="Set up time Reduction/JIT" ID="Hidden9">
		</Form>
		<td height="23" valign="middle"><a href="#" onClick="document.FormCLENIER.submit(); return false;"><img src='../Images/addtocart.gif' border="0"></a></td>
	</tr>-->
	<!--Course : 127 - End -->
	
	<!--Course : 128 - Start -->
	<tr>
		<td style="width: 450px"><a href='javascript:openPopup("../Documents/128 Lean Accounting.htm")' name=CLENIER>
		Lean Accounting </a></td>
		<td style="width: 100px">128</td>
		<td style="width: 60px">1</td>
		<td style="width: 170px"><div align="center">
           Mar 7, 2012 <br /> or
            <br /> Apr 12, 2012&nbsp;<br /> or
            <br /> June 21, 2012
            </div></td>
		<td style="width: 150px"><div align="center">Marlborough, MA</div></td>
		<!--<td style="width: 100px">
            $395</td>-->
		<Form id="Form3" name="FormLEANAT" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="LEANAT" ID="Hidden745"> <input type="hidden" name="cost" value="395" ID="Hidden856">
		<input type="hidden" name="courseTitle" value="Lean Accounting" ID="Hidden967">
		</Form>
		<td height="23" valign="middle"><a href="#" onClick="document.FormLEANAT.submit(); return false;"><img src='../Images/addtocart.gif' border="0"></a></td>
	</tr>
	<!--Course : 127 - End -->
	
</tbody>
</table>