<table class="CourseTab" cellpadding=0 cellspacing=0 border=0>
<thead>
    <tr>
        <th>Course</th>
        <th>Course No.</th>
        <th>Days</th>
        <th>Dates</th>
        <th style="width: 113px">Location</th>
        <!--<th>Fee</th>-->
        <th>Add</th>
    </tr>
</thead>
<tbody>

    <!-- Course : 333 Start-->
   <!-- <tr>
        <td><a href='javascript:openPopup("../Documents/333 Software Professional Development Customized Training.htm")' >
		Software Professional Development Customized Training </a></td>
		<td>333</td>
		<td>3/4</td>
	    <td><div align="center">
            Call for schedule</div></td>
        <td><div align="center"></div></td>
	    <TD>$7,500</TD>
        <Form id="Form1" name="FormSPDCT" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="SPDCT" ID="Hidden1"> <input type="hidden" name="cost" value="7500" ID="Hidden2">
		<input type="hidden" name="courseTitle" value="Software Professional Development Customized Training" ID="Hidden3">
		</Form>
		<td center valign="middle"><a href="#" onClick="document.FormSPDCT.submit(); return false;"><img src='../Images/addtocart.gif' border="0"></a></td>
    </tr>-->
    
	<tr>
		<!--<td rowspan="3" valign="top" align="center" style="WRITING-MODE: tb-rl; filter:   flipH() flipV(); background:#800080; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: white; FONT-FAMILY: 'Times New Roman';">Software</td>-->
        <td><a href='javascript:openPopup("../documents/239 Deploying ISO 9001 for software organizations.htm")' >
		Deploying ISO 9001 for Software Organizations </a></td>
		<td>239</td>
		<td>2</td>
	    <td><div align="center">
          Mar 5-6, 2012 <br /> or
            <br />June 19-20, 2012</div></td>
        <td style="width: 113px"><div align="center">Marlborough, MA<br />
            or<br />
            Hartford, CT</div></td>
	    <!--<TD>$895</TD>-->
        <Form id="FormDPSWOG" name="FormDPSWOG" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="DPSWOG" ID="Hidden172"> <input type="hidden" name="cost" value="895" ID="Hidden173">
		<input type="hidden" name="courseTitle" value="Deploying ISO 9001 for software organizations" ID="Hidden174">
		</Form>
		<td center valign="middle"><a href="#" onClick="document.FormDPSWOG.submit(); return false;"><img src='../Images/addtocart.gif' border="0"></a></td>
    </tr>
	<!-- Course : 239 End-->
	<!-- Course : 240 Start-->
	<!--<tr class="oddRow">
		<td><a href='javascript:openPopup("../documents/240 Software Verification and Validation.htm")' >
		Software Verification and Validation </a></td>
		<td>240</td>
		<td>1</td>
	    <td><div align="center">
           Nov 8, 2010</div></td>
        <td><div align="center">Marlborough, MA </div></td>
	    <td>$495</td>
        <Form id="FormCFDASVV" name="FormCFDASVV" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="CFDASVV" ID="Hidden178"> <input type="hidden" name="cost" value="495" ID="Hidden179">
		<input type="hidden" name="courseTitle" value="Software Verification and Validation" ID="Hidden180">
		</Form>
		<td center valign="middle"><a href="#" onClick="document.FormCFDASVV.submit(); return false;"><img src='../Images/addtocart.gif' border="0"></a></td>
    </tr>-->
	<!-- Course : 240 End-->
	
	<tr class="oddRow">
        <td><a href='javascript:openPopup("../Documents/142 Developing  Deploying ISO 20,000.htm")'>
		Developing and deploying ISO 20000 </a>
		</td>
		<td>142</td>
		<td>2</td>
	    <td><div align="center">
           Mar 12-13, 2012 <br /> or
            <br /> June 19-20, 2012</div></td>
        <td style="width: 113px"><div align="center">Marlborough, MA<br />
            or<br />
            Hartford, CT</div></td>
	    <!--<td>$895</td>-->
        <form id="FormDDISO" action="http://online.qpsinc.com/youraccount/CartPage.aspx" method="post" name="FormDDISO">
		<input type="hidden" name="courseId" value="DDISO" ID="Hidden175"> <input type="hidden" name="cost" value="895" ID="Hidden176">
		<input type="hidden" name="courseTitle" value="Software Verification and Validation" ID="Hidden177">
		</Form>
		<td center valign="middle"><a href="#" onclick="document.FormDDISO.submit(); return false;"><img src='../Images/addtocart.gif' border="0"></a></td>
    </tr>
	
    <!-- Course : 245 Start-->
    <!--<tr class="oddRow">
        <td>
            <b>Computer and Software Basics</b></td>
        <td>
            245</td>
        <td>
            5 wks</td>
        <td>
            <div align="center">
                Feb 1-Mar 5, 2010</div>
        </td>
        <td>
            <div align="center">
                Marlborough, MA</div>
        </td>
        <td>
            Call for Pricing</td>
        <Form id="Form9" name="FormTACSSGBR" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="ASQCRC" ID="Hidden16"> <input type="hidden" name="cost" value="" ID="Hidden17">
		<input type="hidden" name="courseTitle" value="ASQ Certification Refresher Courses" ID="Hidden18">
		</Form>
        <td center="" valign="middle">
        </td>
    </tr>-->
    <!-- Course : 245 End-->
	
	 <!-- Course : 140 Start -->
    <tr class="oddRow">
	    <!--<td  valign="middle" align="center" style="WRITING-MODE: tb-rl; filter:   flipH() flipV(); background:#ffff00; FONT-WEIGHT: bold; FONT-SIZE: 12px;  			FONT-FAMILY: 'Times New Roman'; ">ISO 27001</td>-->
	    <td style="height: 26px"><a href='javascript:openPopup("../documents/140 Documenting and Implementing ISO 27001.htm")' >
		Documenting and Implementing ISO 27001 </a></td>
		<td style="height: 26px">140</td>
		<td style="height: 26px">2</td>
        <td style="height: 26px"><div align="center">
          May 29-30, 2012<br /> </div></td>
	    <td style="height: 26px; width: 113px;"><div align="center">Marlborough, MA<br />
            or<br />Hartford, CT</div></td>
	    <!--<td style="height: 26px">$895</td>-->
        <Form id="Formiso27002" name="Formiso27002" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="CISO27001" ID="Hidden64"> <input type="hidden" name="cost" value="895" ID="Hidden65">
		<input type="hidden" name="courseTitle" value="Documenting and Implementing ISO 27001" ID="Hidden66">
		</Form>
		<td valign="middle" style="height: 26px"><a href="#" onClick="document.Formiso27002.submit(); return false;"><img src='../Images/addtocart.gif' border="0"></a></td>
    </tr>
    <!-- Course : 140 End-->
</tbody>
</table>