<table class="CourseTab" cellpadding=0 cellspacing=0 border=0>
<thead>
    <tr>
        <th style="width: 452px">Course</th>
        <th>Course No.</th>
        <th>Days</th>
        <th style="width: 103px">Dates</th>
        <th>Location</th>
        <!--<th>Fee</th>-->
        <th>Add</th>
    </tr>
</thead>
<tbody>
    <!-- Course : 230 Start -->
	<tr class="oddRow">
		<!--<td rowspan="3" valign="middle" align="center" style="WRITING-MODE: tb-rl; filter:   flipH() flipV(); background:#800080; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: white; FONT-FAMILY: 'Times New Roman';">SUPPLY CHAIN</td>-->
        <td style="width: 452px"><a href='javascript:openPopup("../documents/230 Lean Supply Chain.htm")' documents Lean Chain.htm?)? Supply 230 name=CSCHLSC>
		Lean Supply Chain</a></td>
		<td>230</td>
		<td>1</td>
	    <td style="width: 103px"><div align="center">
         Mar 7, 2012<br /> or
            <br />Apr 12, 2012<br />
            or<br />June 21, 2012
        </div></td>
        <td style="width: 122px"><div align="center">Marlborough, MA<br /></div></td>
	    <!--<td>$495</td>-->
        <Form id="FormCSCHL" name="FormCSCHL" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="CSCHLSC" ID="Hidden172"> <input type="hidden" name="cost" value="495" ID="Hidden173">
		<input type="hidden" name="courseTitle" value="Lean Supply Chain" ID="Hidden174">
		</Form>
		<td center valign="middle"><a href="#" onClick="document.FormCSCHL.submit(); return false;"><img src='../Images/addtocart.gif' border="0"></a></td>
    </tr>
	<!-- Course : 230 End-->
	<!-- Course : 234 Start-->
	<tr>
		<td style="width: 452px"><a href='javascript:openPopup("../documents/234 Auditing to supplier.htm")' documents to Auditing supplier.htm?)? 234 name=CSCHATS>
		Certified Supplier Auditor</a></td>
		<td>234</td>
		<td>2</td>
	    <td style="width: 111px"><div align="center">
         Mar 5-6, 2012 <br /> or
            <br />Apr 10-11, 2012<br />
            or<br />June 19-20, 2012
        </div></td>
        <td><div align="center">
            Marlborough, MA<br />
        </div></td>
	    <!--<td>$895</td>-->
        <Form id="FormCSCHATS" name="FormCSCHATS" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="CSCHATS" ID="Hidden175"> <input type="hidden" name="cost" value="895" ID="Hidden176">
		<input type="hidden" name="courseTitle" value="Certified Supplier Auditor" ID="Hidden177">
		</Form>
		<td center valign="middle"><a href="#" onClick="document.FormCSCHATS.submit(); return false;"><img src='../Images/addtocart.gif' border="0"></a></td>
    </tr>
	<!-- Course : 234 End-->
	
    <!-- Course : 237 Start-->
    <tr class="oddRow">
        <td style="width: 452px">
            <a href='javascript:openPopup("../documents/237 Certified Supply Chain Professional.htm")'>
                APICS - Certified Supply Chain Certification Prep
            </a>
        </td>
        <td>
            237</td>
        <td>
            6</td>
        <td style="width: 103px">
            <div align="center">
             Feb 1-3, 2012<br />Feb 8-10, 2012<br />
                or<br />May 2-4, 2012<br />May 9-11, 2012
 
            </div>
        </td>
        <td>
            <div align="center">
                Marlborough, MA<br />
            </div>
        </td>
        <!--<td>
            $1,900</td>-->
        <form id="FormAPICSP" action="http://online.qpsinc.com/youraccount/CartPage.aspx" method="post" name="FormAPICSP">
            <input id="Hidden1" name="courseId" type="hidden" value="APICSP">
            <input id="Hidden2" name="cost" type="hidden" value="1500">
            <input id="Hidden3" name="courseTitle" type="hidden" value="APICS - Certified Supply Chain Certification Prep">
        </form>
        <td center="" valign="middle">
            <a href="#" onclick="document.FormAPICSP.submit(); return false;">
                <img border="0" src='../Images/addtocart.gif'></a></td>
    </tr>
    <!-- Course : 237 End  -->
	
	<!-- Course : 238 Start-->
	<tr class="oddRow">
		<td style="width: 452px"><a href='javascript:openPopup("../documents/238 Outsourcing Management.htm")' documents Management.htm?)? Outsourcing 238 name=CSCHOSM>
		Outsourcing Management</a>
        </td>
		<td>238</td>
		<td>1</td>
	    <td style="width: 103px"><div align="center">
      Mar 5, 2012<br /> or
            <br /> June 19, 2012</div></td>
        <td><div align="center">Marlborough, MA<br /></div></td>
	    <!--<td>$495</td>-->
        <Form id="FormCSCHOS" name="FormCSCHOS" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="CSCHOSM" ID="Hidden178"> <input type="hidden" name="cost" value="495" ID="Hidden179">
		<input type="hidden" name="courseTitle" value="Outsourcing Management (Software Development and Component outsourcing )" ID="Hidden180">
		</Form>
		<td center valign="middle"><a href="#" onClick="document.FormCSCHOS.submit(); return false;"><img src='../Images/addtocart.gif' border="0"></a></td>
    </tr>
	<!-- Course : 238 End-->
	<tr class="oddRow">
        <td style="width: 452px">
            <a href='javascript:openPopup("../documents/375 APICS-Certifies Production and Inventory Management.htm")'>
             APICS - Certified Production & Inventory Management (CPIM) Prep
            </a>
        </td>
        <td>
           375</td>
        <td>
            6</td>
        <td style="width: 103px">
            <div align="center">
           Feb 1-3, 2012<br />Feb 8-10, 2012<br />
                or<br />May 2-4, 2012<br />May 9-11, 2012

            </div>
        </td>
        <td>
            <div align="center">
          Marlborough, MA<br />
            </div>
        </td>
       
       <Form id="Form1" name="FormAPICSCP" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="APICSCP" ID="Hidden4"> <input type="hidden" name="cost" value="1500" ID="Hidden5">
		<input type="hidden" name="courseTitle" value="APICS - Certified Production & Inventory Management (CPIM) Prep" ID="Hidden6">
		</Form>
		<td center valign="middle"><a href="#" onClick="document.FormAPICSCP.submit(); return false;"><img src='../Images/addtocart.gif' border="0"></a></td>
    </tr>
</tbody>
</table>