<table class="CourseTab" cellpadding=0 cellspacing=0 border=0>
<thead>
    <tr>
        <th>Course</th>
        <th>Course No.</th>
        <th>Days</th>
        <th style="width: 122px">Dates</th>
        <th>Location</th>
        <!--<th>Fee</th>-->
        <th>Add</th>
    </tr>
</thead>
<tbody>
    <!-- Course : 152 Start-->
	<tr>
		<!--<td rowspan="3" valign="middle" align="center" style="WRITING-MODE: tb-rl; filter:   flipH() flipV(); background:#E4B900; FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: black; FONT-FAMILY: 'Times New Roman';">STATISTICS</td>-->
        <td><a href='javascript:openPopup("../documents/152 Basic Statistics.htm")' documents Statistics.htm?)? Basic 152 name=CSTSBST>
		Basic Statistics using Excel Based software (Software Provided)</a></td>
		<td>152</td>
		<td>
            2</td>
        <td style="width: 122px"><div align="center">
     Jan 9-10, 2012 <br /> or
            <br /> Mar 22-23, 2012 <br /> or
            <br /> May 24-25, 2012
           </div></td>
        <td><div align="center">Marlborough, MA<br />
            or<br />Woodbridge, NJ</div></td>
	    <!--<td>$795</td>-->
        <Form id="FormCSTSBST" name="FormCSTSBST" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="CSTSBST" ID="Hidden100"> <input type="hidden" name="cost" value="795" ID="Hidden101">
		<input type="hidden" name="courseTitle" value="Basic Statistics using Excel( software provided)" ID="Hidden102">
		</Form>
		<td valign="middle"><a href="#" onClick="document.FormCSTSBST.submit(); return false;"><img src='../Images/addtocart.gif' border="0"></a></td>
	</tr>
	<!-- Course : 152 End-->
	<!-- Course : 153 Start-->
	<tr class="oddRow">
		<td><a href='javascript:openPopup("../documents/153 Intermediate Statististics.htm")' documents Statististics.htm?)? Intermediate 153 name=TOSBIST>
		Intermediate Statistics Using Minitab </a></td>
		<td>153</td>
		<td>3</td>
        <td style="width: 122px"><div align="center">
          Jan 31-Feb 2, 2012 <br /> or
            <br /> Mar 12-14, 2012 <br /> or
            <br /> May 21-23, 2012
           </div></td>
        <td><div align="center">Marlborough, MA<br />
            or
            <br />Woodbridge, NJ 
</div></td>
	    <!--<td>$1,095</td>-->
        <Form id="FormTOSBIST" name="FormTOSBIST" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="TOSBIST" ID="Hidden103"> <input type="hidden" name="cost" value="995" ID="Hidden104">
		<input type="hidden" name="courseTitle" value="Intermediate Statistics using Minitab" ID="Hidden105">
		</Form>
		<td valign="middle"><a href="#" onClick="document.FormTOSBIST.submit(); return false;"><img src='../Images/addtocart.gif' border="0"></a></td>
    </tr>
	<!-- Course : 153 End-->
	
    <!-- Course : 154 Start-->
    <tr class="oddRow">
        <td><a href='javascript:openPopup("../documents/154 Statistical Process Control.htm")'><font color="">
		 Statistical Process Control</font></a></td>
        <td>
            154</td>
        <td>
            1</td>
        <td style="width: 122px">
            <div align="center">
             Feb 13, 2012<br /> or
                <br /> Mar 27, 2012<br /> or
                <br /> May 29-31, 2012
            </div>
        </td>
        <td>
            <div align="center">
                Marlborough, MA<br />
                or
                <br />Woodbridge, NJ
</div>
        </td>
        <!--<td>
            $395</td>-->
        <form id="FormTOSSPC" action="http://online.qpsinc.com/youraccount/CartPage.aspx" method="post" name="FormTOSSPC">
            <input id="Hidden4" name="courseId" type="hidden" value="TOSSPC">
            <input id="Hidden5" name="cost" type="hidden" value="395">
            <input id="Hidden6" name="courseTitle" type="hidden" value="Statistical Process Control">
        </form>
        <td valign="middle">
            <a href="#" onclick="document.FormTOSSPC.submit(); return false;">
                <img border="0" src='../Images/addtocart.gif'></a></td>
    </tr>
    <!-- Course : 154 End -->
	
	<!-- Course : 155 Start-->
	<tr>
		<td style="height: 57px"><a href='javascript:openPopup("../documents/155 Design of Experiments using Minitab.htm")' documents Experiments.htm?)? Of Design 155 name=CSTSDEX>
		Design of Experiments using Minitab </a></td>
		<td style="height: 57px">155</td>
		<td style="height: 57px">3</td>
        <td style="width: 122px; height: 57px"><div align="center">
          Feb 6-8, 2012<br /> or
            <br /> Mar 19-21, 2012&nbsp;
        </div></td>
        <td style="height: 57px"><div align="center">Marlborough, MA<br />
            or
        <br />Woodbridge, NJ
        
        </div></td>
	    <!--<td>$1,095</td>-->
        <Form id="FormCSTSDEX" name="FormCSTSDEX" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="CSTSDEX" ID="Hidden109"> <input type="hidden" name="cost" value="995" ID="Hidden110">
		<input type="hidden" name="courseTitle" value="Design of Experiments using Minitab" ID="Hidden111">
		</Form>
		<td center valign="middle" style="height: 57px"><a href="#" onClick="document.FormCSTSDEX.submit(); return false;"><img src='../Images/addtocart.gif' border="0"></a></td>
  </tr>
	<!-- Course : 155 End-->
	
		
	   
	

</tbody>
</table>