<table class="CourseTab" cellpadding=0 cellspacing=0 border=0>
<thead>
    <tr>
        <th style="width: 451px">Course</th>
        <th style="width: 128px">Course No.</th>
        <th>Days</th>
        <th>Dates</th>
        <th>Location</th>
        <th>Fee</th>
        <th>Add</th>
    </tr>
</thead>
<tbody>
    <!--Course : 121 - Start -->
	<tr>
		<!--<td rowspan="7" valign="middle" align="center" style="WRITING-MODE: tb-rl; filter:   flipH() flipV(); background:#00CCFF; FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: black; FONT-FAMILY: 'Times New Roman';">LEAN</td>-->
        <td style="width: 451px"><a href='javascript:openPopup("../documents/121 How to implement lean  in small companies.htm")' documents companies.htm?)? small in lean implement to How 121 name=CLENISC>
		How to Implement Lean</a></td>
		<td style="width: 128px">121</td>
		<td>2</td>
        <td><div align="center">Feb 9-10, 2009<br />OR<br />May 26-27, 2009</div></td>
	    <td align="center">Marlborough, MA,<br>					  </td>
	    <TD>$795</TD>
        <Form id="FormCLENISC" name="FormCLENISC" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="CLENISC" ID="Hidden22"> <input type="hidden" name="cost" value="795" ID="Hidden23">
		<input type="hidden" name="courseTitle" value="How to Implement Lean in small companies" ID="Hidden24">
		</Form>
		<td center valign="middle"><a href="" onClick="document.FormCLENISC.submit(); return false;"><img src='../Images/addtocart.gif' border="0"></a></td>
    </tr>
	<!--Course : 121 - End -->
	<!--Course : 122 - Start -->
	<tr class="oddRow">
		<td style="width: 451px"><a href='javascript:openPopup("../documents/122 Value Stream Mapping.htm")' documents Mapping.htm?)? Stream Value 122 name=CLENVSM>
		Value Stream Mapping</a></td>
		<td style="width: 128px">122</td>
		<td>1</td>
	    <td><div align="center">Feb 9, 2009<br />OR<br />May 27, 2009</div></td>
	    <td align="center">Marlborough, MA</td>
	    <td>$495</td>
        <Form id="FormCLENVSM" name="FormCLENVSM" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="CLENVSM" ID="Hidden25"> <input type="hidden" name="cost" value="495" ID="Hidden26">
		<input type="hidden" name="courseTitle" value="Value Stream Mapping" ID="Hidden27">
		</Form>
		<td center valign="middle"><a href="" onClick="document.FormCLENVSM.submit(); return false;"><img src='../Images/addtocart.gif' border="0"></a></td>
    </tr>
	<!--Course : 122 - End -->
	<!--Course : 123 - Start -->
	<tr>
		<td style="width: 451px"><a href='javascript:openPopup("../documents/123Kaizenworkshop.htm")' documents workshop.htm?)? Kaizen 123 name=CLENKZW>
		How to Conduct Kaizen Workshop</a></td>
		<td style="width: 128px">123</td>
		<td>2</td>
	    <td><div align="center">Feb 10-11, 2009<br />OR<br />May 27-28, 2009</div></td>
	    <td align="center">Marlborough, MA</td>
	    <td>$795</td>
        <Form id="FormCLENKZW" name="FormCLENKZW" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="CLENKZW" ID="Hidden28"> <input type="hidden" name="cost" value="795" ID="Hidden29">
		<input type="hidden" name="courseTitle" value="kaizen Workshop" ID="Hidden30">
		</Form>
		<td center valign="middle"><a href="#" onClick="document.FormCLENKZW.submit(); return false;"><img src='../Images/addtocart.gif' border="0"></a></td>
    </tr>
	<!--Course : 123 - End -->
	<!--Course : 124 - Start -->
	<tr class="oddRow">
		<td style="width: 451px"><p><a href='javascript:openPopup("../documents/124 Lean Expert Certification.htm")' documents Certification.htm?)? Lean Expert 124 name=CLENEXC>
		Lean Expert Certification (Lean Black Belt) </a></p></td>
		<td style="width: 128px">124</td>
		<td>8</td>
        <td><div align="center">Oct 6-9, 2008<br />Nov 3-6, 2008</div></td>
	    <td align="center">Marlborough, MA</td>
	    <td>$3,500</td>
        <Form id="FormCLENEXC" name="FormCLENEXC" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="CLENEXC" ID="Hidden31"> <input type="hidden" name="cost" value="3500" ID="Hidden32">
		<input type="hidden" name="courseTitle" value="Lean Expert Certification" ID="Hidden33">
		</Form>
		<td valign="middle"><a href="#" onClick="document.FormCLENEXC.submit(); return false;"><img src='../Images/addtocart.gif' border="0"></a></td>
    </tr>
	<!--Course : 124 - End -->
	<!--Course : 125 - Start -->
	<tr>
		<td style="width: 451px"><a href='javascript:openPopup("../documents/125 5 S and Visual Controls.htm")' documents Controls.htm?)? Visual and S 5 125 name=CLENSVC>
		5 S and Visual Controls </a></td>
		<td style="width: 128px">125</td>
		<td>1</td>
	    <td><div align="center">Jan 12, 2009<br />OR<br />June 8, 2009</div></td>
        <td align="center">Marlborough, MA</td>
	    <td>$395</td>
        <Form id="FormCLENSVC" name="FormCLENSVC" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="CLENSVC" ID="Hidden34"> <input type="hidden" name="cost" value="395" ID="Hidden35">
		<input type="hidden" name="courseTitle" value="5 S and Visual Controls" ID="Hidden36">
		</Form>
		<td valign="middle"><a href="#" onClick="document.FormCLENSVC.submit(); return false;"><img src='../Images/addtocart.gif' border="0"></a></td>
    </tr>
	<!--Course : 125 - End -->
	<!--Course : 126 - Start -->
	<tr class="oddRow">
		<td style="width: 451px"><a href='javascript:openPopup("../documents/126 Standardized work.htm")' >
		Standardized Work  </a></td>
		<td style="width: 128px">126</td>
		<td>1</td>
	    <td><div align="center">Jan 14, 2009<br />OR<br />June 11, 2009</div></td>
	    <td align="center">Marlborough, MA</td>
	    <td>$395</td>
        <Form id="FormSDZDWK" name="FormSDZDWK" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="SDZDWK" ID="Hidden37"> <input type="hidden" name="cost" value="395" ID="Hidden38">
		<input type="hidden" name="courseTitle" value="Standardized Work" ID="Hidden39">
		</Form>
		<td valign="middle"><a href="#" onClick="document.FormSDZDWK.submit(); return false;"><img src='../Images/addtocart.gif' border="0"></a></td>
    </tr>
	<!--Course : 126 - End -->
	<!--Course : 127 - Start -->
	<tr>
		<td style="width: 451px"><a href='javascript:openPopup("../documents/127 Set up reduction JIT.htm")' documents 127ImprovingEquipmentReliabilityTPM.htm?)? name=CLENIER>
		Set Up Reduction/JIT</a></td>
		<td style="width: 128px">127</td>
		<td width="34">1</td>
		<td width="300"><div align="center">Jan 13, 2009<br />OR<br />June 9, 2009</div></td>
		<td width="266" align="center">Marlborough, MA</td>
		<td width="108">$395</td>
		<Form id="Form3" name="FormCLENIER" method="post" action="http://online.qpsinc.com/youraccount/CartPage.aspx">
		<input type="hidden" name="courseId" value="CLENSRJ" ID="Hidden7"> <input type="hidden" name="cost" value="395" ID="Hidden8">
		<input type="hidden" name="courseTitle" value="Set up time Reduction/JIT" ID="Hidden9">
		</Form>
		<td height="23" valign="middle"><a href="#" onClick="document.FormCLENIER.submit(); return false;"><img src='../Images/addtocart.gif' border="0"></a></td>
	</tr>
	<!--Course : 127 - End -->
</tbody>
</table>