body { font-family:tahoma,verdana,helvetica; font-size:11px; margin:0px; padding:0px; background: url(/images/global/bg_left1.gif) repeat-y #F1F2ED;}

a { color:#0066CC; }

#title { font-size:12px; color:#FFFFFF; position:absolute; top:61px; left:10px; z-index:2;}
#headernav { font-size:11px; color:#FFFFFF; position:absolute; top:61px; right:10px; background-color:#536E84; z-index:10; }
#headernav a, #headernav a:link, #headernav a:visited { color:#FFFFFF; }
#headernav a:hover { text-decoration:none; }
#bcnav { color:#5A7488;margin:82px 0px 0px 200px; padding:4px 0px 4px 12px; background: #CECEC4; }
#bcnav a, #bcnav a:link, #bcnav a:visited { text-decoration:none; }
#bcnav a:hover { text-decoration:underline;}

/* headers */

h1 { margin:0px; font-size:26px; color:#3C5160; font-weight:normal; }
h2 { margin:0px; font-size:18px; color:#3C5160; font-weight:normal; }

/* general */

.inst { color:#8E8D87; }
.label { color:#536E84; }
.warn { color:#C00;}
td.data { color:#0066CC;padding:4px 4px 4px 1px; border-bottom: solid 1px #DFDFDD;  }
th.data { color:#898987; font-weight:normal; padding:2px 4px 4px 1px; text-align:left; border-bottom: solid 1px #DFDFDD;}
th.data a, th.data a:link, a:visited { color:#898987; }
th.data a:hover { text-decoration:none; }
a.noundo, a:link.noundo, a:visited.noundo { color:#D53C3B; }
a:hover.noundo { text-decoration:none; }

/* left nav */

#leftnav { line-height:16px; position:absolute; top:92px; left:10px; width:200px;}
/*#leftnav a { display:block; }*/
#leftnav a:link { text-decoration:none; }
#leftnav a:hover { text-decoration:underline; }
#leftnav span { display:block; font-weight:bold; color:#0066CC; }

/* form items */

input.buttonbig { font-size: 11px; color:#FFFFFF; padding:2px 3px 2px 3px; border:solid 1px #FC7C05; background-color:#E79B37;}
input.button { font-size: 11px; color:#FFFFFF; border:solid 1px #7F7F7F; background-color:#999999;}
input.generic, textarea.generic, select.generic {font-size:11px;font-family:tahoma,verdana,helvetica;}
input.highlight, textarea.highlight, select.highlight {font-size:11px;font-family:tahoma,verdana,helvetica;}


/*Message control classes */
.Warning {color: #C00; font-weight:bold;}
.success{font-weight:bold;}


/* header, bg items */

#logo { position:absolute; top:20px; left:10px; z-index:3; }
#header { position:absolute; top:0px; right:0px; background: url(/images/global/bg_head.gif); height:82px; width:100%; z-index:1; }

/* general */

hr { height:1px; color:#DFDFDD; background-color:#DFDFDD; border:none; }

/* main content */

#content { margin:12px 10px 15px 210px; }
#content table.header { margin:0px; padding:0px; }
#content table.generic td { padding:0px 4px 4px 0px; }
#content table.form td { padding:0px 8px 4px 0px; }
#content table.form td.text { padding:2px 8px 4px 0px; }
.rowon { background-color:#FFFFFF; }

/* form items */

input.generic, textarea.generic, select.generic 
{
	border:solid 1px #B2B2B2; 
	padding-top: 2px;
}

input.highlight, textarea.highlight, select.highlight 
{
	border:solid 1px #B2B2B2; 
	background-color:#FFFFCC;
	padding-top: 2px;
}

.MainTable{width:906px;}
.mainBody 
{
	width:657px; 
	padding:0px;
	vertical-align:top;
	min-height:400px;
	height:400px;
}

.rightMenu {
	width:249px;
	vertical-align:top; 
}

/* controls */

.LgInput, textarea {width: 250px;}

.SmInput { width:100px;}