@import url(/global/styles/slider.css);

/* productheader */
#productheader { border:none;  }
#productheader h1 a { width:133px; background:url(http://images.apple.com/hotnews/images/productheader_title20080313.gif) no-repeat 0 0; }

/* promos */
#main #promos { width:992px; margin-right:-12px; _zoom:1; }

#main #promos .promo { float:left; width:236px; height:188px; margin-right:12px; }
#main #promos .promo a { display:none; }
#main #promos .promo a.default { display:inline; }
#main.hasjs #promos .promo a { display:inline; }

#main #promos:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }

/* content
------------------------*/
#main #content { padding:0; }

#main #content .grid2colb .column.first { width:708px; padding:0 12px; }
#main #content .grid2colb .column.last { width:236px; }

#main a { color:#2971a7; text-decoration:none; }
#main a:hover { text-decoration:underline; }

/* headings */
#main .contentheading { margin:0 -12px; position:relative; min-height:27px; background:#e3e3e3 url(http://images.apple.com/hotnews/images/contentheading_bgbottom20080313.gif) no-repeat bottom left; *height:28px; *margin-bottom:1.5em; _height:20px; }
#main .contentheading h2 { font-size:12px; padding-left:12px; line-height:27px; background:url(http://images.apple.com/hotnews/images/contentheading_bgtop20080313.gif) no-repeat top left; _margin-bottom:0; }

#main .contentheading #sortnav { position:absolute; top:5px; right:38px; font-size:11px; overflow:hidden; }
#main .contentheading #sortnav ul { float:left; margin:0 -1em 0 2em; padding:0 1.4em 0 0; white-space:nowrap; background:url(http://images.apple.com/hotnews/images/contentheading_sortnav_separator20080313.gif) repeat-y 100% 0; }
#main .contentheading #sortnav ul li { display:inline; margin:0 -.3em; _margin-left:0; padding:0 1em .1em 0; }
#main .contentheading #sortnav ul li a { padding:0 0 .1em 1em; color:#727272; outline:none; -moz-outline:none; }
#main .contentheading #sortnav ul li a:hover { color:#2971a7; }

#main .contentheading #sortnav ul li.active { zoom:1; position:relative; background:url(http://images.apple.com/hotnews/images/contentheading_sortnavactive_bgright20080313.gif) no-repeat 100% 50%; }
#main .contentheading #sortnav ul li.active a { cursor:pointer; color:#fff; text-decoration:none; background:url(http://images.apple.com/hotnews/images/contentheading_sortnavactive_bgleft20080313.gif) no-repeat 0 50%; }

#main .contentheading .rss a { position:absolute; top:6px; right:8px; display:block; height:15px; width:27px; text-indent:-9999px; background:url(http://images.apple.com/hotnews/images/rss_icon20080313.gif) no-repeat; }

/* pagination */
#main .pagination { margin-bottom:1.6em; font-size:11px; text-align:right; color:#666; }

#main .pagination a { color:#2971a7; }
#main .pagination a:hover { color:#666; }
#main .pagination a.active { color:#555; cursor:default; text-decoration:none; }
#main .pagination a.disabled { cursor:default; text-decoration:none !important; opacity:.5; -moz-opacity:.5; filter:alpha(opacity=50); }

#main .pagination a.previous { padding-left:9px; outline:none; -moz-outline:none; background:url(http://images.apple.com/global/elements/arrows/lessarrow_blue.gif) no-repeat 0 50%; }
#main .pagination a.next { padding-right:8px; outline:none; -moz-outline:none; background:url(http://images.apple.com/global/elements/arrows/morearrow_blue.gif) no-repeat 100% 50%; }
#main .pagination a.previous:hover,
#main .pagination a.next:hover { color:#2971a7; }

#main .pagination .pages { display:inline; padding:0 2px; }
#main .pagination .pages a { padding:0 4px 2px 3px; font-weight:bold; background:url(http://images.apple.com/hotnews/images/pagination_pages_separator20080313.gif) no-repeat 100% 50%; }
#main .pagination .pages a.last { background:none; width:auto !important; float:none !important; }

/* stories */
#main ul.stories { margin:0; padding:0 0 1px; }
#main ul.stories li { margin:0; padding:0 0 1px; color:#666; }
                   
#main ul.stories li h3,
#main ul.stories li h3 a { color:#333; }
#main ul.stories li h3 a:visited { color:#666; }
#main ul.stories li h3 a:hover { color:#2971a7; }
                   
#main ul.stories li a.external { padding-right:14px; background:url(http://images.apple.com/global/elements/icons/external10x10_ccc999.gif) no-repeat 100% 50%; target-new:tab; }
                   
#main ul.stories li p.date,
#main ul.stories li span { font-size:11px; white-space:nowrap; color:#8c8c8c; }
#main ul.stories li p.date { margin-bottom:.2em; }
#main ul.stories li p span { padding-right:.5em; font-size:12px; }
#main ul.stories li p span a { color:#8c8c8c; }
#main ul.stories li p span a:hover { color:#2971a7; }

#main ul.stories.featured { margin-bottom:3em; padding-bottom:.6em; border-bottom:1px solid #d3d3d3; }
#main ul.stories.featured li { padding-left:165px; padding-bottom:1em; }
#main ul.stories.featured li img.left { width:140px; height:100px; margin:0 0 16px -165px; }

#main #latestnews #latestnewsstories div.loading { min-height:200px; _height:200px; background:url(http://images.apple.com/hotnews/images/loading20080313.gif) no-repeat 50% 50%; }
#main #latestnews #latestnewsstories div.loading .pagination { display:none; }

#main #press { padding-bottom:1.6em; }
#main #press ul.stories li { padding-bottom:1em; }
#main #press ul.stories li a { display:block; font-weight:bold; color:#333; line-height:18px; }
#main #press ul.stories li a:visited { color:#666; }
#main #press ul.stories li a:hover { color:#2971a7; }

#main #press a.more { padding-right:0; white-space:normal; background:none; }

#main ul.stories, #main ul.stories li.story { _zoom:1; }
#main ul.stories:after, main ul.stories li.story:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }



/* sidebar
------------------------*/

#main .sidebox { overflow:hidden; margin-bottom:1.6em; color:#666; font-size:11px; line-height:1.3em; background:#fdfdfd url(http://images.apple.com/hotnews/images/box_236_bg20080313.png) repeat-y; }
#main .sidebox .padder { padding:9px 15px .6em; }
#main .sidebox ul.drawers { overflow:hidden; margin:0; padding:0 0 1px; }
#main .sidebox ul.drawers .first,
#main .sidebox ul.drawers .last { width:auto !important; float:none !important; }
#main .sidebox ul.drawers .drawer-handle,
#main .sidebox ul.drawers .drawer-content { display:none; }
#main .sidebox ul.drawers .drawer-handle.open,
#main .sidebox ul.drawers .drawer-content.open { display:block; }

#main .sidebox .boxcap { clear:both; position:relative; width:100%; height:5px; left:0; z-index:100; font-size:1px; behavior:url(/global/scripts/lib/iepngfix.htc); }
#main .sidebox .boxcap.captop { margin-bottom:-5px; background:url(http://images.apple.com/hotnews/images/box_236_captop20080313.png) no-repeat; }
#main .sidebox .boxcap.capbot { margin-top:-5px; background:url(http://images.apple.com/hotnews/images/box_236_capbottom20080313.png) no-repeat;  }

#main .sidebox h2 { margin:0; padding:4px 0 3px 15px; color:#fff; font-size:12px; font-weight:normal; text-shadow:#808080 0 -1px 1px; background:#6E7D98 url(http://images.apple.com/hotnews/images/boxtopblue20080313.gif) repeat-x; }
#main .sidebox h2 a { display:block; color:#fff; text-decoration:none; background:url(http://images.apple.com/hotnews/images/boxtop_linkarrow20080313.gif) 97.5% 50% no-repeat; }

#main .sidebox h2.drawer-handle { color:#333; cursor:default; text-shadow:none; border:#939393; background:#939393 url(http://images.apple.com/hotnews/images/boxtopgray20080313.gif) repeat-x; }
#main .sidebox h2.drawer-handle.open { color:#fff; cursor:pointer; text-shadow:#808080 0 -1px 1px; border-color:#72839d; background:#72839d url(http://images.apple.com/hotnews/images/boxtopblue20080313.gif) repeat-x; }

#main .sidebox a.more { display:block; clear:both; float:left; color:#4d4d4d; line-height:13px; height:13px; padding:0 8px 0 0; background:url(http://images.apple.com/global/elements/arrows/morearrow_blue.gif) no-repeat right 4px; }
#main .sidebox a.more:hover { color:#2971a7; }

#main .sidebox#sb-itunes ul.drawers { height:56em; }
#main .sidebox#sb-itunes ul.drawers .drawer-content { height:47em; }

#main .sidebox#sb-itunes ul.featureditunes,
#main .sidebox#sb-itunes ul.featureditunes li { margin:0; padding:0 0 1px; }
#main .sidebox#sb-itunes ul.featureditunes li img { display:block; width:206px; height:116px; margin:.2em 0 .7em; *margin-top:-.5em; }

#main .sidebox#sb-itunes ol { margin:.6em 0 0 20px; padding:0 0 1px; }
#main .sidebox#sb-itunes ol li { padding-bottom:.8em; }
#main .sidebox#sb-itunes ol li a,
#main .sidebox#sb-itunes ol li a strong { color:#4d4d4d; }
#main .sidebox#sb-itunes ol li a:hover,
#main .sidebox#sb-itunes ol li a:hover strong { color:#2971a7; }
#main .sidebox#sb-itunes ol.movies li img { width:40px; }

#main .sidebox#sb-itunes a.more { padding-left:20px; }
/* like startpage
#main .sidebox#sb-itunes ol { margin-bottom:0; padding:0 0 6px; }
#main .sidebox#sb-itunes ol * { color:#2971a7; }
#main .sidebox#sb-itunes ol li { padding:0 0 8px; }
#main .sidebox#sb-itunes ol li a { display:block; font-weight:normal; color:#666; }
#main .sidebox#sb-itunes ol li a:hover { color:#2971a7; }
#main .sidebox#sb-itunes ol li img { margin-top:-10px; }
*/

#main .sidebox#sb-trailers { position:relative; }
#main .sidebox#sb-trailers .slideritem { display:none; position:absolute; top:48px; margin:0 36px; }
#main .sidebox#sb-trailers .slideritem.active,
#main.hasjs .sidebox#sb-trailers .slideritem { display:block; }
#main .sidebox#sb-trailers #slider { position:static; width:206px; height:230px; }
/* slider
#main .sidebox#sb-trailers .slideritem { display:none; }
#main .sidebox#sb-trailers .slideritem.active { display:block; position:absolute; margin:-218px 36px 0; }
#main .sidebox#sb-trailers #slider { width:206px; height:217px; margin-bottom:1.5em; overflow:hidden; }
#main .sidebox#sb-trailers #slider .ACSliderPageNav { margin-top:0px; width:62px; margin-left:-30px; }
#main .sidebox#sb-trailers #slider .ACSliderPreviousArrow { left:7px; }
#main .sidebox#sb-trailers #slider .ACSliderNextArrow { right:7px; }
#main .sidebox#sb-trailers #slider .ACSliderMaskDiv { margin:0 auto; width:134px; height:209px; }
#main .sidebox#sb-trailers #slider .ACSliderMaskDiv ul li { display: inline; width:134px; height:193px; }
*/

#main .sidebox#sb-downloads ul.drawers { height:33.8em; }
#main .sidebox#sb-downloads ul.drawers .drawer-content { height:27em; }

#main .sidebox#sb-downloads ol { margin:.6em 0 0 20px; padding:0 0 1px; }
#main .sidebox#sb-downloads ol li { padding-bottom:.8em; }
#main .sidebox#sb-downloads ol li a { font-weight:bold; color:#4d4d4d; }
#main .sidebox#sb-downloads ol li a:hover { color:#2971a7; }

#main .sidebox#sb-downloads a.more { padding-left:20px; }
/* like startpage
#main .sidebox#sb-downloads ol { margin:0 0 0 20px; padding:0 0 1px; }
#main .sidebox#sb-downloads ol li { margin-bottom:4px; }
#main .sidebox#sb-downloads ol li a,
#main .sidebox#sb-downloads ol li a strong { color:#4d4d4d; }
#main .sidebox#sb-downloads ol li a:hover,
#main .sidebox#sb-downloads ol li a:hover strong { color:#2971a7; }
*/
