 /* GLOBAL
------------------------------*/
body {
	text-align: center;
	margin:0;
	padding: 0;
	background-color: #f2f1ec;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.Clear{
	clear: both;
	font-size: 1px;
	height: 1px;
}

.Hidden {
	 position:absolute;
	 left:-5000px;
}

h1, h2  {
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 2em;
	color: #333;
	margin: 0 0 38px 0;
}

h2 {
	font-size: 1.1em;
	color: #1a569e;
	margin: 35px 0 16px 0;
}

p, h3, li {
	font-size: 0.75em;
	line-height: 1.65em;
}

li li {font-size: 100%;}

h3 {margin: 30px 0 9px 0;}

p {margin: 0 0 30px 0;}

a {color: #069;}

a:visited {color: #069;}

a:hover {color: #39c;}

img {border: 0;}

.Top {margin-top: 0 !important;}

.Left {float: left;}

.Right {float: Right;}

form {
	margin: 0;
	padding: 0;
}

/*----------- Hacks -----------*/

.IEVariousHack {position: relative;}

.IEDoubleMarginHack {display: inline;}

/* Hides from IE5-mac \*/
* html .HollyHack {height: 1%;}
/* End hide from IE5-mac */


/* FORMS
------------------------------*/
.ButtonLink {
	padding: 1px 15px;
	float: left;
	background: #C7C7C7 url('../images/global/ButtonLink_bg.gif') repeat-x;
	border: 1px #666 solid;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.ButtonLink:hover {
	border-color: #000;
	color: #000;
}


/* CONTAINERS
------------------------------*/

#PageContainer, #BottomShadow {
	width: 915px;
	margin: 0 auto 0 auto;
	padding: 0 9px 0 9px;
}

#PageContainer {
	text-align: left;
	position: relative;
	background: #fff url('../images/global/background_shadow.gif') repeat-y;
}

#BottomShadow {
	background: url('../images/global/background_shadow_bottom.gif') no-repeat top;
	height: 17px;
	font-size: 1px;
	margin-top: -5px;
}

#Top {
	height: 78px;
	position: relative;
	background-color: #2b3348;
}

#Logo {
	position: absolute;
	left: 28px;
	top: 31px;
}

#Tagline {
	position: absolute;
	top: 42px;
	right: 16px;
	font-size: 11px;
}

#Tagline img {
	position: relative;
	top: 2px;
}

#Tagline a {color: #fff;}

#Search {
	float: right;
	background: url('../images/global/search_background.gif') no-repeat left;
	padding: 0 0 0 59px;
	height: 27px;
}

#Search input {
	float: left;
	width: 145px;
	font-size: 11px;
	margin-top: 2px;
}

#Search .ButtonLink {margin: 4px 16px 0 12px;}

#PrintPage {
	text-align: right;
	font-size: 0.7em;
	margin: 5px 13px 0 0;
}

#PrintPage a {color: #666;}

#PrintPage img {
	position: relative;
	top: 2px;
	left: -3px;
}

#SectionNav, #MainArea, #Sidebar {
	float: left;
	margin-top: 25px;
}
#SectionNavIT, #MainArea, #Sidebar {
	float: left;
	margin-top: 25px;
}

#SectionNav {width: 160px;}
#SectionNavIT {width: 160px;}

#MainArea {
	width: 464px;
	margin: 20px 28px 0 28px;
}

#Sidebar {width: 223px;}

.SidebarItem {
	border: 1px #a9b0c0 solid;
	background: #e5e2d6 url('../images/global/sidebar_fade.gif') repeat-x top;
	padding: 15px 10px;
	margin-bottom: 12px;
}


.SidebarItem h2 {
	font-size: 0.9em;
	font-weight: bold;
	color: #333;
	background: url('../images/global/sidebar_divider.gif') repeat-x bottom;
	margin: 0 0 14px 0;
	padding-bottom: 13px;
}

.SidebarItem p, .SidebarItem li, .SidebarItem td {
	font-size: 0.7em;
	line-height: 1.5em;
}

.SidebarItem ul {margin: -30px 0 0 0;}

.SidebarItem li {
	background: url('../images/global/grey_arrow.gif') no-repeat 0 6px;
	padding-left: 9px;
	margin: 0;
}

#Footer {
	padding: 3px 13px 0px 13px;
	margin: 15px 0 0 0;
	background-color: #838999;
}

#Footer p {
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	margin: 0;
}

#Footer,  #Footer a {color: #fff;}


/* NAVS
------------------------------*/

/*----------- Top Nav -----------*/
.HorizontalNav {
	padding: 0;
	margin: 0;
}

.HorizontalNav ul {
	list-style: none;
	margin: 0;
	padding:0;
}

.HorizontalNav ul li {
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 11px;
	line-height: normal;
}

.HorizontalNav ul li a, .HorizontalNav ul li span, .HorizontalNav ul li a:visited  {
	float: left;
	padding: 6px 14px 6px 14px;
	text-decoration: none;
	color: #fff;
	background:  url(../images/global/topnav_divider.gif) no-repeat right center ;
}

.HorizontalNav ul li a:hover, .HorizontalNav ul li span {
	background-color: #99a0b7;
	border-right: 1px #000 solid;
	border-left: 1px #000 solid;
	background-image: none;
	margin-left: -2px;
	padding-left: 15px;
	padding-right: 13px;
	color: #fff;
}
.HorizontalNav ul li span  {
	color: #000;
	background-color: #c9d0e3;
}

.HorizontalNav ul li.First a, .HorizontalNav ul li.First span  {background-image: none;}

#MainNav {
	background-color: #7b8399;
	border-bottom: 1px #2b3348 solid;
	height: 25px;
}

#MainNav ul {margin-left: 2px;}


/*----- Left Nav -----*/

.VerticalNav h3 {
	font-size: 11px;
	color: #fff;
	background-color: #838aa1;
	padding: 1px 13px;
	margin:0 0 1px 0;
}

.VerticalNav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 160px;
	border-bottom: 6px #838aa1 solid;
}

.VerticalNav li {
	margin: 0;
	padding: 0;
	padding-bottom: 1px;
	font-weight: bold;
}

.VerticalNav li a, .VerticalNav li span {
	display: block;
	padding: 1px 10px;
	font-size: 11px;
	text-decoration: none;
	color: #2b3348;
	background-color: #dbe0ed;
}

.VerticalNav li a:hover, .VerticalNav li a.Current:hover {background-color: #e7ebf6;}

.VerticalNav li a.Current, .VerticalNav li span {background-color: #fff;}

.VerticalNav ul ul {
	padding-top: 0;
	border-bottom: 0;
}

.VerticalNav li li {
	padding-left: 7px;
	background:  url("../images/global/leftnav_bullet.gif") no-repeat 9px 10px;
}
.VerticalNav td td {
	padding-left: 7px;
	background:  url("../images/global/leftnav_bullet.gif") no-repeat 9px 10px;
}

.VerticalNav li li a, .VerticalNav li li a:hover, .VerticalNav li li span {
	background-color: transparent;
	font-weight: normal;
}

.VerticalNav li li a:hover {text-decoration: underline;}


/* TABLES
------------------------------*/

.DataTable {
	border: 1px #999 solid;
	border-collapse: collapse;
}

.DataTable th, .DataTable td {font-size: 0.7em;}

.DataTable th {
	text-align: left;
	background-color: #eaebea;
	border: 1px #afb2b2 solid;
	padding:4px 16px;
}

 .DataTable td {
 	padding:5px 16px;
 }

.DataTable tr.Alternate {background-color: #ecf2fd;}


/* LISTS
------------------------------*/

ul {
	margin-left: 0;
	padding:0;
	list-style-type: none;
}

li {
	padding: 0 0 0 17px;
	margin: 0 0 17px 0;
	background: url('../images/global/bullet.gif') no-repeat 0 9px;
}

.ArrowBullets {
	list-style: none;
	margin: 0;
	padding: 0;
}

.ArrowBullets li {
	margin: 0 0 0 0;
	padding-left: 35px;
	background: url('../images/global/grey_arrow.gif') no-repeat 21px 7px;
}

.ArrowBullets li li {background: url('../images/global/bullet.gif') no-repeat 21px 8px;}

.NoBullet li {
	padding: 0;
	background: none;
}

/* PAGE SPECIFIC
------------------------------*/

.Home #Highlight {position: relative;}

.Home #DropShadow, .Home #SummaryBackground, .Home #SummaryLine {position: absolute; width: 100%;}

.Home #DropShadow {height: 7px;}

html>body .Home #DropShadow {background: url('../images/home/navbar_shadow.png') repeat-x top;}

.Home #SummaryBackground {
	height: 75px;
	background: #7E8494;
	top: 224px;
	opacity: .84;
	filter: alpha(opacity=84);
	-moz-opacity: .84;
	-khtml-opacity: 0.84;
}

.Home #SummaryLine {
	height: 1px;
	border-top: 1px #000 solid;
	top: 223px;
}

.Home .Summary {
	width: 305px;
	position: absolute;
	background: url('../images/home/highlight_divider.gif') no-repeat right 0px;
	padding: 3px 0 3px 0;
	top: 230px;
	left: 0;
	z-index: 99;
}

.Home #Highlight .Last {background-image: none;}

.Home .Summary p {
	float: left;
	margin-right: 12px;
	font-size: 11px;  /* was 10px - changed by NR 21/05/08 vide p#663*/
	line-height: 18px;
	width: 200px;
}

.Home .Summary a {
	color: #fff;
	text-decoration: none;
}

.Home .Summary img {
	float: left;
	margin:0 12px 0 12px;
}

.Home .Summary a:hover {text-decoration: underline;}

.Home .Summary img {margin-left: 12px;}

.Home h1 {
	font-size: 1.75em;
	font-weight: bold;
}

.Home #MainArea {
	width: 580px;
	margin: 10px 20px 0 44px;
}

.Home #MainArea, .Home #Sidebar {margin-top: 28px;}


.Home #MainArea .Left, .Home #MainArea .Right {width: 280px;}

.Home .SidebarItem {background: #dedbd0 url('../images/home/sidebar_background.gif') repeat-x top;}

.Home .SidebarItem h2 {font-size: 1.2em;}


.Home .SidebarItem ul {margin-top: 0;}

.Home .SidebarItem li {margin-bottom: 3px;}

.InputTxt{border: black 1px solid;}
/*Paxis - start*/

.GrayText
{
	font-size: 11px;
	color: #666;
	font-weight:normal;
	margin:0;

}
.LineHeight{line-height:1.2em;}

#SubPageContent{background-color:#4d4d4d; color:White; font-size:11px;}
#SubPageContent p{font-size:11px; line-height:1.4em;}
#SubPageContent hr{background-color:Black; color:Black; height:1px;}
#SubPageContent h1 {
	font-size: 21px;
	color: #ffffff;
	font-weight:normal;
	margin:15px 0 20px 0;

}
#SubPageContent .SubTitle{ font-weight:bold; font-size:12px; margin-top:5px;}
.ContentColumn{ width:520px; padding-left:40px; padding-right:40px; }
.Modules{ font-size:10px;}
.Modules img{border:0px; height:80px; width:75px; cursor:pointer;}
.Modules td{ text-align:left; padding-left:0; width:150px;}
.ModuleDesc{background-color:Black;  width:495px;  padding: 10px; font-size:10px; margin-bottom:10px;}/*background-image:url(/images/global/Modulebg.gif); background-repeat:no-repeat;*/
.ad{padding-top:10px;}
.ad, .ad span{color:black;   font-size:12px; font-weight:bold; text-align:center; vertical-align:top; text-decoration:none;}
.ad img {height:110px; width:190px; border:0;margin:10px;}
 .DataTable td a, .ad a{text-decoration:none;}
 .DataTable td a:hover{text-decoration:underline;}
/*Paxis - end*/



/***navrang***/
.SidebarItem1 {
	border: 1px #a9b0c0 solid;
	background: #e5e2d6 url('../images/global/sidebar_fade.gif') repeat-x top;
	/**padding: 15px 10px;**/
	margin-bottom: 12px;
}
/****/