<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="BreadCrumbTrail.ascx.cs" Inherits="PerpetSiteWebv2.controls.BreadCrumbTrail" %>

<a href="/Default.aspx"><span class="GrayText">Home</span></a>:&nbsp;<a href="/Paxis/Default.aspx" id="lnkPaxisHome" runat="server"><span class="GrayText">Paxis</span></a><span class="GrayText" id="currentPage" runat="server"></span>

