<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="JobsSidePanel.ascx.cs" Inherits="PerpetSiteWebv2.controls.JobsSidePanel" %>
<div id="SectionNav" class="VerticalNav">
		<h3>Jobs</h3>
		<ul>
		<li><a href="default.aspx">Positions</a>
		<li><a href="Application.aspx?cnt=India,USA&loc=&Job=&JobID=">Apply Now </a>		
		</ul>
	</div>