<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="RightSideBar.ascx.cs" Inherits="PerpetSiteWebv2.controls.RightSideBar" %>

<script type="text/javascript">
    function Validations()
    {
        var err_msg='';
        if(document.getElementById('fullname')!=null && document.getElementById('fullname').value=='')
            err_msg+='Please enter name\n';
        
        if(document.getElementById('phone')!=null && document.getElementById('phone').value=='')         
                err_msg+='Please enter phone\n';            
         
        if(err_msg!='')
        {
            alert(err_msg);
            if(document.getElementById('fullname')!=null)
                document.getElementById('fullname').focus();
            return false;
        }
        
        return true;
    }
    </script>
    <div id="Sidebar"  style="width:160px;float:right;">
        <div class="SidebarItem" align="left">
        <form id="Form1" method="post" action="http://app.perpetuating.com/FormProcessor.aspx" enctype="multipart/form-data">
		<h2>Call me now</h2>
		
			        <table cellpadding="0" cellspacing="0" border="0" >
                        <tr><td valign="middle" >Name:</td></tr>
                            <tr><td><input type="text" id="fullname" name="fullname" class="InputTxt" style=" width: 125px;" ></td>
                        </tr>
                        <tr><td  valign="middle" >Phone:</td></tr>
                            <tr><td><input type="text" id="phone" name="phone" class="InputTxt" style=" width: 125px;"></td>
                        </tr>
                        <tr><td height="5"></td></tr>
                        <tr><td colspan="1" align="right"><input type="submit" value="Call Back" onclick="return Validations();"></td></tr>
                    </table>
               
		
	    </form>
	    </div>
	</div>