<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Sidebar_Company.ascx.cs" Inherits="QPS.Controls.Sidebar_Company" %>

<table style="background-color:rgb(247,243,247)" cellspacing="2" cellpadding="0" class="mainText" width="188" border="0">
	<tr width="100%"><td  style="padding-left: 25px; padding-right: 13px;"><img alt="" src="../Images/greensquare.gif" border="0"/>&nbsp;<a href="../Company/about.aspx" class="CompanyLink">About QPS</a></td></tr>
	<tr><td bgcolor="d9d9d9"><img alt="" src="..\Images\Clear.gif"/></td></tr>
	<tr width="100%"><td style="padding-left: 25px; padding-right: 13px;"><img alt="" src="../Images/greensquare.gif" border="0"/>&nbsp;<a href="../Company/clients.aspx"class="CompanyLink">Clients</a></td></tr>
	<tr><td bgcolor="d9d9d9"><img alt="" src="..\Images\Clear.gif"/></td></tr><tr width="100%"><td style="padding-left: 25px; padding-right: 13px;"><img alt="" src="../Images/greensquare.gif" border="0"/>&nbsp;<a href="../Company/Testimonials.aspx"class="CompanyLink">Testimonials</a></td></tr>
	<tr><td bgcolor="d9d9d9"><img alt="" src="..\Images\Clear.gif"/></td></tr>		
	<tr width="100%"><td style="padding-left: 25px; padding-right: 13px;"><img alt="" src="../Images/greensquare.gif" border="0"/>&nbsp;<a href="../Company/contact.aspx"class="CompanyLink">Contact</a></td></tr>
	<tr><td><img alt="" src="..\Images\Clear.gif"/></td></tr>
</table>
