<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Sidebar_ELearning.ascx.cs" Inherits="QPS.Controls.Sidebar_ELearning" %>


	    <img src="../images/eCourse.gif" class="pull-1 top" alt="QPS eLearning">
	    <hr class="space">
	    <div style="margin-top:40px;padding:7px;border:1px dotted silver;background:#eaeaea;">
	        <img src="../images/check.gif" title="Click here">
	        <h3 class="mostwrap"><a href="/Training/Calendar.aspx" class="nounder" title="Click here">Click here</a></h3> for our Upcoming Corporate Training Programs
	    </div>
	    <hr class="space">
	    <div class="hrefnounderclass" style="padding-top: 15px; margin-left: -15px; width: 200px;">

</div>

<a onclick="showhidepops(5);" href="http://www.execlearn.com/programs/qps.php" target="_blank" id="stndesdx5" style="visibility:hidden; font-weight:900;font-size:14px;color:Black;">
More Courses from our Partners
</a>

<%--	        <div style="padding-top:15px;margin-left:-15px;width:200px" class="hrefnounderclass" >
	        <h4 class="bold hundredline">Standards Explanation:</h4>
            <a id="stndex1" href="/ELearning/SixSigmaOverview.aspx" onClick="showhidepops(1);">Six Sigma Overview</a><br />
            <a id="stndex2" href="/ELearning/SixSigmaGreenBelt.aspx" onClick="showhidepops(2);" >Six Sigma Green Belt</a><br />
            <a id="stndex3" href="/ELearning/ProcessConceptandMapping.aspx" onClick="showhidepops(3);">Process Concept and Mapping</a><br />
            <a id="stndex4" href="/ELearning/AuditingtoISO9001-2000.aspx" onClick="showhidepops(4);" >Auditing to ISO 9001 - 2000</a><br />
            <a id="stndex5" href="http://www.execlearn.com/programs/qps.php" onClick="showhidepops(5);" >More Courses from our Partners</a>
            </div>--%>


<%--	<div style="padding-top:0px" class="hrefnounderclass">
	        <h4 class="bold hundredline">Standards Explanation:</h4>
            <a id="stndex1" href="/ELearning/SixSigmaOverview.aspx" onClick="showhidepops(1);">Six Sigma Overview</a><br>
            <a id="stndex2" href="/ELearning/SixSigmaGreenBelt.aspx" onClick="showhidepops(2);">Six Sigma Green Belt</a><br>
            <a id="stndex3" href="/ELearning/ProcessConceptandMapping.aspx" onClick="showhidepops(3);">Process Concept and <span style='text-decoration:none;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Mapping</a><br>
            <a id="stndex4" href="/ELearning/AuditingtoISO9001-2000.aspx" onClick="showhidepops(4);">Auditing to ISO 9001-<span style='text-decoration:none;'>&nbsp;&nbsp;</span>2000</a><br>
            <a id="stndex5" href="http://www.execlearn.com/programs/qps.php" onClick="showhidepops(5);">More Courses from our <span style='text-decoration:none;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Partners</a><br>

	    </div>--%>


	<%--<tr width='100%'><td style="padding-left: 25px; padding-right: 13px;"><img src='../Images/blacksquare.gif' border='0'>&nbsp;<a href='SixSigmaOverview.aspx' class='eCourseLink'>Six Sigma Overview</a></td></tr>
	<tr><td bgcolor='d9d9d9'><img src='..\Images\Clear.gif'></td></tr>
	<tr width='100%'><td style="padding-left: 25px; padding-right: 13px;"><img src='../Images/blacksquare.gif' border='0'>&nbsp;<a href='SixSigmaGreenBelt.aspx' class='eCourseLink'>Six Sigma Green Belt</a></td></tr>
	<tr><td bgcolor='d9d9d9'><img src='..\Images\Clear.gif'></td></tr>
	<tr width='100%' style='border:1px;'><td style="padding-left: 25px; padding-right: 13px;"><img src='../Images/blacksquare.gif' border='0'>&nbsp;<a href='ProcessConceptandMapping.aspx' class='eCourseLink'>Process Concept and <span style='text-decoration:none;'>&nbsp;&nbsp;&nbsp;</span>Mapping</a></td></tr>
	<tr><td bgcolor='d9d9d9'><img src='..\Images\Clear.gif'></td></tr>
	<tr width='100%'><td style="padding-left: 25px; padding-right: 13px;"><img src='../Images/blacksquare.gif' border='0'>&nbsp;<a href='AuditingtoISO9001-2000.aspx' class='eCourseLink'>Auditing to ISO 9001-<span style='text-decoration:none;'>&nbsp;&nbsp;&nbsp;</span>2000</a></td></tr><tr><td><img src='..\Images\Clear.gif'></td></tr>
    <tr width='100%'>
        <td style="padding-left: 25px; padding-right: 13px;">
            <img border='0' src='../Images/blacksquare.gif'>&nbsp;
            <a class="eCourseLink" href="http://www.execlearn.com/programs/qps.php">More Courses from our Partners</a>
            </td>
    </tr>--%>
   <%-- <tr>
        <td>
            <img src='..\Images\Clear.gif'></td>
    </tr>--%>


