<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Sidebar_Consulting.ascx.cs" Inherits="QPS.Controls.Sidebar_Consulting" %>

<table style="background-color:rgb(247,243,247)" cellspacing='2' cellpadding='0' class='mainText' width=188>					
    <tr width='100%'><td style="padding-left: 25px; padding-right: 13px;"><img src='../Images/orangesquare.gif' border='0'>&nbsp;<a href="/Consulting/sixsigma.aspx" class='ConsultingLink'>Six Sigma</a></td></tr>
    <tr><td bgcolor='d9d9d9'><img src='..\Images\Clear.gif'></td></tr>
    <tr width='100%'><td style="padding-left: 25px; padding-right: 13px;"><img src='../Images/orangesquare.gif' border='0'>&nbsp;<a href="/Consulting/leanthinking.aspx" class='ConsultingLink'>Lean Techniques</a></td></tr>
    <tr><td bgcolor='d9d9d9'><img src='..\Images\Clear.gif'></td></tr>
    <tr width='100%'><td style="padding-left: 25px; "><img src='../Images/orangesquare.gif' border='0'>&nbsp;<a href="/Consulting/BusinessImprovement.aspx" class='ConsultingLink'>Business Improvements</a></td></tr>
    <tr><td bgcolor='d9d9d9'><img src='..\Images\Clear.gif'></td></tr>
    <tr width='100%'><td style="padding-left: 25px; padding-right: 13px;"><img src='../Images/orangesquare.gif' border='0'>&nbsp;<a href="/Consulting/QualitySystem.aspx" class='ConsultingLink'>Management System</a></td></tr>
    <tr><td><img src='..\Images\Clear.gif'></td></tr>
</table>